.service {

  border-bottom: 1px solid #EFEFEF;
  padding-top: 25px;

  a:hover {
    text-decoration: none;
  }

  .icon-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    small {
      font-size: 1em;
      padding-top: 10px;
      color: #ccc;
    }
  }

  .icon-header {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .custom-icon {
    font-size: 40px;
    margin: auto;
    background: #72F0A1;
    opacity: .88;
    padding: 10px;
    -webkit-border-radius: 1100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 0;
    color: #fff;
    text-align: center;
    display: block;
    vertical-align: middle;
    width: 90px;
    height: 90px;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

    @media (max-width: 767px) {
      padding: 8px;
      width: 45px;
      height: 45px;
    }
    img {
      height: 70px;
    }
    .fa {
      margin: 15px 10px;
      display: block;
    }
  }
}
