.service {

  padding-top: 25px;

  a:hover {
    text-decoration: none;
  }
}


.icon-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  small {
    font-size: .8em;
    padding-top: 10px;
    color: $gray;
    display: block;
  }
}

.icon-header {
  padding-top: 50px;
  padding-bottom: 50px;
}

.custom-icon {

  i {
    font-size: 3em;
    margin: auto;
    display: inline-block;
    border-radius: 70px;
    padding: 10px;
    background: transparent;
    padding: 10px;
    -webkit-border-radius: 1100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 0;
    color: #fff;

    @media (max-width: 767px) {
      padding: 8px;
      font-size: 45px;
    }
  }
}

#service {
  .custom-icon i {
    font-size: 6em;
  }

  .icon-wrapper {
    display: block;
  }
  @media (max-width: 768px) {
    h2 {
      font-size: 1.5em;
    }
  }

  #header-title .container .row.header h1 {
    @media (min-width:320px) {
      font-size: 1.7em;
    }
    @media (min-width:768px) {
        font-size: 4em;
    }
  }
}

.red {
  @extend .custom-icon;
  i {
    background: $hibiscus;
  }
}

.orange {
  @extend .custom-icon;
  i {
    background: $habanero;
  }
}

.green {
  @extend .custom-icon;
  i {
    background: $miami;
  }
}

.blue {
  @extend .custom-icon;
  i {
    background: $blueState;
  }
}
