.service {

  border-bottom: 1px solid #EFEFEF;
  padding-top: 25px;

  a:hover {
    text-decoration: none;
  }

  .icon-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    small {
      font-size: .8em;
      padding-top: 10px;
      color: #ccc;
      display: block;
    }
  }

  .icon-header {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .custom-icon {

    i {
      font-size: 3em;
      margin: auto;
      display: inline-block;
      border-radius: 70px;
      padding: 10px;
      background: transparent;
      padding: 10px;
      -webkit-border-radius: 1100%;
      -moz-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%;
      border: 0;
      color: #fff;

      @media (max-width: 767px) {
        padding: 8px;
        font-size: 45px;
      }
    }
  }

  .red {
    @extend .custom-icon;
    i {
      background: #FF8E79;
    }
  }

  .orange {
    @extend .custom-icon;
    i {
      background: #FFCC4F;
    }
  }

  .yellow {
    @extend .custom-icon;
    i {
      background: #FFEC79;
    }
  }

  .green {
    @extend .custom-icon;
    i {
      background: #72F0A1;
    }
  }

  .blue {
    @extend .custom-icon;
    i {
      background: #75CAEB;
    }
  }

}
