<div class="row services">
  <div class="col-md-12">
    <div id="{{ service.slug }}" class="service">
      <h3>{{ service.title|safe }}</h3>
      {{ service.contents|safe }}
      <div class="icon-header">
        {% for icon in service.icons %}
          <a href="{{ icon.link }}">
            <div class="icon-wrapper text-center">
              <span class="custom-icon">
                <i class="fa {{ icon.icon }}"></i>
              </span>
              <small>{{ icon.name }}</small>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
