#recent-posts {

  .container {
    border-bottom: 1px solid #efefef;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 25px;
  }

  .title {

  }

  .avatar {
    max-width: 25px;
    border-radius: 100%;
    border: 1px solid #e0e0e0;
  }

}
