#experts {
  .container {
    padding-bottom: 75px;
  }
  .experts-title {
    color: $gray;
    padding-top: 50px;
  }
  .experts {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 16px;
    color: $gray;
    i {
      font-size: 8em;
      color: $brand-info;
    }
    @media (min-width:320px) {
      i.devicons {
        display: block;
      }
    }
    &.experts-2 {
      i {
        color: $brand-primary;
      }
    }
    .col-sm-3 {
      padding-bottom: 25px;
      text-align: center;

      @media(max-width: 767px) {
        padding-bottom: 10px;
        margin-bottom: 20px;
      }
    }
  }
}
