<div id="experts">
  <div class="container">

    <div class="experts-title text-center">we do all the...</div>

    <div class="row experts experts-1">
      <div class="col-sm-2 text-center">
        <i class="devicons devicons-drupal"></i>
          Drupal
      </div>
      <div class="col-sm-2 text-center">
        <i class="devicons devicons-wordpress"></i>
        WordPress
      </div>
      <div class="col-sm-2 text-center">
        <i class="devicons devicons-laravel"></i>
        Laravel
      </div>
      <div class="col-sm-2 text-center">
        <i class="devicons devicons-nodejs_small"></i>
        NodeJS
      </div>
      <div class="col-sm-2 text-center">
        <i class="devicons devicons-angular"></i>
        Angular
      </div>
      <div class="col-sm-2 text-center">
        <i class="devicons devicons-ruby_on_rails"></i>
        Ruby on Rails
      </div>
    </div>

    <div class="row experts experts-2">
      <div class="col-sm-2 text-center">
        <i class="devicons devicons-docker"></i>
        Docker
      </div>
      <div class="col-sm-2 text-center">
        <i class="devicons devicons-scrum"></i>
        Scrum
      </div>
      <div class="col-sm-2 text-center">
        <i class="devicons devicons-github_badge"></i>
        GitHub
      </div>
      <div class="col-sm-2 text-center">
        <i class="devicons devicons-travis"></i>
        CI
      </div>
      <div class="col-sm-2 text-center">
        <i class="devicons devicons-composer"></i>
        Composer
      </div>
      <div class="col-sm-2 text-center">
        <i class="devicons devicons-opensource"></i>
        Open Source
      </div>

    </div>

    <div class="experts-title text-center">and more!</div>

  </div>
</div>
