{% extends '../layouts/html.html' %}

{% block contents %}

  <div id="info">

    <div id="header-title">
      <div class="container">
        <div class="row header">
          <div class="col-md-12 ">
            <small class="subtitle">{{ byline|safe }}</small>
            <h1>{{ title|safe }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div id="header-byline">
      <div class="container">
        {{ contents|safe }}
      </div>
    </div>

    <div id="staff">
      <div class="container">
        <div class="row staff">
          {% for staff in collections.staff|slice(0,3) %}
            {% include "../components/molecules/bio/bio.html" %}
          {% endfor %}
        </div>
        <div class="row staff">
          {% for staff in collections.staff|slice(3,6) %}
            {% include "../components/molecules/bio/bio.html" %}
          {% endfor %}
        </div>
        <div class="row staff">
          {% for staff in collections.staff|slice(6,9) %}
            {% include "../components/molecules/bio/bio.html" %}
          {% endfor %}
        </div>
        <div class="row staff">
          {% for staff in collections.staff|slice(9,12) %}
          {% include "../components/molecules/bio/bio.html" %}
          {% endfor %}
        </div>
      </div>
    </div>

  </div>

  {% include '../components/organisms/stats/stats.html' %}
  {% include '../components/organisms/experts/experts.html' %}
  {% include '../components/organisms/distributed/distributed.html' %}
  {% include '../components/organisms/cta/cta.html' %}

{% endblock %}
