{% extends '../layouts/html.html' %}

{% block desc %}Tandem Blog = All Our Knowledges. We've been revealing truth since the Permian extinction.{% endblock %}

{% block contents %}

<div id="posts">
  <div id="header-title">
    <div class="container">
      <div class="row header">
        <div class="col-md-12 ">
          <small class="subtitle">All Our Knowledges</small>
          <h1>{{ title|safe }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div id="header-byline">
    <div class="container">
      <p>We've been revealing truth since the Permian extinction. <a href="http://eepurl.com/caz4hn">Sign up</a> to receive an email whenever we post something in the blog and never miss an update.</p>
    </div>
  </div>

  <div class="container">
    <div class="row blog-tags tags-top">
      <div class="col col-md-12">
        {% for tag in tags.tags|slice(0,6) %}
          <a href="/blog/{{ tag }}" title="{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="row blog-tags tags-bottom">
      <div class="col col-md-12">
        {% for tag in tags.tags|slice(6,12) %}
          <a href="/blog/{{ tag }}" title="{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="row teasers">
      {% for article in pagination.files %}
        {% include "../components/molecules/teaser/teaser.html" %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="pages">
        <ul class="pagination">
          {% set pages = pagination.getPages(pagination.pages.length) %}
          <li>
            <a href="blog">
              <i class="fa fa-fast-backward" aria-hidden="true"></i>
            </a>
          </li>
          {% for key, page in pages %}
            {% if pagination.num == page.pagination.num %}
              <li class="active">
                <a href="{{ page.path }}">
                  {{ page.pagination.num }}
                </a>
              </li>
            {% else %}
              <li>
                <a href="{{ page.path }}">
                  {{ page.pagination.num }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
          <li>
            <a href="blog/{{ pagination.pages.length }}/index.html">
              <i class="fa fa-fast-forward" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

  {% include '../components/organisms/cta/cta.html' %}

{% endblock %}
