{% extends '../layouts/html.html' %}

{% block contents %}

  <div id="careers">

    <div id="header-title">
      <div class="container">
        <div class="row header">
          <div class="col-xs-12 text-center">
            <h1>{{ title|safe }}</h1>
            <small>{{ byline|safe }}</small>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      {% for career in collections.careers %}
        <div class="text-center"><strong>The following positions are currently open:</strong></div>
        <div class="career-link text-center">
          <a href="careers/#{{ career.slug }}">{{ career.short }}</a>
        </div>
      {% endfor %}
    </div>

    <div class="container">
      {% for career in collections.careers %}
        {% include "../components/molecules/career/career.html" %}
      {% endfor %}
    </div>

  </div>

  {% include '../components/organisms/social/social.html' %}

{% endblock %}
