{% extends '../layouts/html.html' %}

{% block contents %}
  <div id="info">
    <div class="container">
      <div class="row">
        <div class="col-md-8 message">
          <h3>Thanks, we got your message and will be in-touch soon!</h3>
        </div>
        <div class="col-md-4 contact">
          <div class="address">
            <h3>Our Address</h3>
            <p>
              The Old Road Willington, <br />
              7 Kings Road, <br />
              Southshore, 64890
            </p>
          </div>
          <div class="phone">
            <h3>By Phone</h3>
            <p>
              1-800-346-3344
            </p>
          </div>
          <div class="social">
            <a href="#" class="fb"><img src="images/social/fb.png" alt="facebook" /></a>
            <a href="#" class="tw"><img src="images/social/tw.png" alt="twitter" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}