{% extends '../layouts/html.html' %}

<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAnA4WkezM1GHAAaA2ZYWeayvh82vN9DwI&sensor=false&extension=.js'></script>

{% block contents %}
  <div id="contact">

    <div id="header-title">
      <div class="container">
        <div class="row header">
          <div class="col-md-12 ">
            <small class="subtitle">{{ byline|safe }}</small>
            <h1>{{ title|safe }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div id="header-byline">
      <div class="container">
        {{ contents|safe }}
      </div>
    </div>

    <div id="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 message">

            <div id="mauticform_wrapper_contactrequest" class="mauticform_wrapper">
              <form autocomplete="false" role="form" method="post" action="https://mautic.thinktandem.io/form/submit?formId=3" id="mauticform_contactrequest" data-mautic-form="contactrequest" enctype="multipart/form-data">
                <div class="mauticform-error" id="mauticform_contactrequest_error"></div>
                <div class="mauticform-message" id="mauticform_contactrequest_message"></div>
                <div class="mauticform-innerform">


                  <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">

                    <div id="mauticform_contactrequest_first_name" data-validate="first_name" data-validation-type="text" class="mauticform-row mauticform-text mauticform-field-1 mauticform-required">
                      <label id="mauticform_label_contactrequest_first_name" for="mauticform_input_contactrequest_first_name" class="mauticform-label">Name</label>
                      <input id="mauticform_input_contactrequest_first_name" name="mauticform[first_name]" value="" class="mauticform-input" type="text">
                      <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                    </div>

                    <div id="mauticform_contactrequest_email" data-validate="email" data-validation-type="email" class="mauticform-row mauticform-email mauticform-field-2 mauticform-required">
                      <label id="mauticform_label_contactrequest_email" for="mauticform_input_contactrequest_email" class="mauticform-label">Email</label>
                      <input id="mauticform_input_contactrequest_email" name="mauticform[email]" value="" class="mauticform-input" type="email">
                      <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                    </div>

                    <div id="mauticform_contactrequest_how_can_we_help_you" class="mauticform-row mauticform-text mauticform-field-3">
                      <label id="mauticform_label_contactrequest_how_can_we_help_you" for="mauticform_input_contactrequest_how_can_we_help_you" class="mauticform-label">How Can We Help You?</label>
                      <textarea id="mauticform_input_contactrequest_how_can_we_help_you" name="mauticform[how_can_we_help_you]" class="mauticform-textarea"></textarea>
                      <span class="mauticform-errormsg" style="display: none;"></span>
                    </div>


                    <div id="mauticform_contactrequest_recaptcha1" class="mauticform-row mauticform-div-wrapper mauticform-field-4">
                      <div class="g-recaptcha" data-sitekey="6Ldi0MMUAAAAAARYg2LvrR-8DB44Z2JWwyGDms8-" data-callback="verifyCallback_de0e4ae0b290a7a2957082b8f73caf3b"></div>
                      <input id="mauticform_input_contactrequest_recaptcha" name="mauticform[recaptcha]" value="" class="mauticform-input" type="hidden">
                      <span class="mauticform-errormsg" style="display: none;"></span>
                    </div>

                    <input id="mauticform_input_contactrequest_lead_source" name="mauticform[lead_source]" value="Contact Form" class="mauticform-hidden" type="hidden">
                    <input id="mauticform_input_contactrequest_lead_status" name="mauticform[lead_status]" value="In Progress" class="mauticform-hidden" type="hidden">
                    <div id="mauticform_contactrequest_submit" class="mauticform-row mauticform-button-wrapper mauticform-field-7">
                      <button type="submit" name="mauticform[submit]" id="mauticform_input_contactrequest_submit" value="" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </div>

                <input type="hidden" name="mauticform[formId]" id="mauticform_contactrequest_id" value="3">
                <input type="hidden" name="mauticform[return]" id="mauticform_contactrequest_return" value="">
                <input type="hidden" name="mauticform[formName]" id="mauticform_contactrequest_name" value="contactrequest">

              </form>
            </div>


      </div>
    </div>

  </div>


{% endblock %}
