{% extends '../layouts/html.html' %}

{% block contents %}
  <div id="contact-thanks">

    <div id="header-title">
      <div class="container">
        <div class="row header">
          <div class="col-sm-12 text-center">
            <h1>Thanks!</h3>
            <div><small>We got your message and will be in-touch soon</small></div>
            <div><small>in the meantime... <strong>ROCK OUT!</strong></small></div>
          </div>
        </div>
      </div>
    </div>

    <div id="rockout">
      <div class="container">
        <div class="row header">
          <div class="col-sm-4 text-center">
            <img src="images/carl.gif" class="img-responsive" alt="carlton" />
          </div>
          <div class="col-sm-4 text-center">
            <img src="images/carl.gif" class="img-responsive" alt="carlton" />
          </div>
          <div class="col-sm-4 text-center">
            <img src="images/carl.gif" class="img-responsive" alt="carlton" />
          </div>
        </div>
      </div>
    </div>

    <div id="rockout">
      <div class="container">
        <div class="row header">
          <div class="col-sm-12 text-center">
            <small><strong>OR</small>
          </div>
        </div>
      </div>
    </div>

    {% include '../components/organisms/recent/recent.html' %}

  </div>

  {% include '../components/organisms/social/social.html' %}

{% endblock %}
