{% extends '../layouts/html.html' %}

{% block contents %}

  <div id="services">
    <div class="container">
      <div class="row header">
        <div class="col-md-12 text-center">
          <h1>{{ title|safe }}</h1>
          <small>{{ byline|safe }}</small>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img src="{{ image }}" class="img-responsive" alt="office3" draggable="false">
        </div>
      </div>
      {{ contents|safe }}
    </div>
    <div class="container">
      {% for service in collections.services %}
        {% include "../components/molecules/service/service.html" %}
      {% endfor %}
    </div>
  </div>

  {% include '../components/organisms/social/social.html' %}

{% endblock %}
