{% extends '../layouts/html.html' %}

{% block contents %}

  <div id="services">
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <h1>Services</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Engagements with Tandem</h2>
          <p>
            Whether you want to fill this paragraph with some text like I'm doing right now, this place is perfect to describe some features or anything you want - React has a complete solution for you.
          </p>
        </div>
      </div>
    </div>
  </div>

  {% include '../components/organisms/social/social.html' %}

{% endblock %}
