{% extends '../layouts/html.html' %}

{% block title %}
  {%parent%} {{tag|capitalize}}
{% endblock %}

{% block contents %}

<div id="posts">
  <div id="header-title">
    <div class="container">
      <div class="row header">
        <div class="col-md-12 ">
          <small class="subtitle">{{ tag|safe }}</small>
          <h1>Blog</h1>
        </div>
      </div>
    </div>
  </div>
  <div id="header-byline">
    <div class="container">
      <p>We've been revealing truth since the Permian extinction. <a href="http://eepurl.com/caz4hn">Sign up</a> to receive an email whenever we post something in the blog and never miss an update.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="service-link">
          {% for tag in tags.tags %}
            <a href="/blog/{{ tag }}" title="{{ tag }}">{{ tag }}</a> |
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row teasers">
      {% for article in pagination.files %}
        {% include "../components/molecules/teaser/teaser.html" %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="pages">
        <ul class="pagination">
          {% set pages = pagination.getPages(4) %}
          {% for key, page in pages %}
            {% if pagination.num == page.pagination.num %}
              <li class="active">
                <a href="{{ page.path }}">
                  {{ page.pagination.num }}
                </a>
              </li>
            {% else %}
              <li>
                <a href="{{ page.path }}">
                  {{ page.pagination.num }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

  {% include '../components/organisms/cta/cta.html' %}

{% endblock %}
