{% extends '../layouts/html.html' %}

{% block contents %}

  <div id="training">

    <div id="header-title">
      <div class="container">
        <div class="row header">
          <div class="col-xs-12 text-center">
            <h1>{{ title|safe }}</h1>
            <small>{{ byline|safe }}</small>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h2>Upcoming Training Courses</h2>
        {% if collections.trainings|length > 0 %}
        <table class="table">
          <thead>
            <tr>
              <td>Course</td>
              <td>Date</td>
              <td>Location</td>
              <td>Cost</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            {% for training in collections.trainings %}
              <tr>
                <td><a href="{{ training.path }}">{{ training.short }}</a></td>
                <td>{{ training.date|date('F jS Y') }}</td>
                <td>{{ training.location }}</td>
                <td>{{ training.cost }}</td>
                <td>
                  {% if training.link %} 
                    {{ training.link }}
                  {% else %}
                    <a href="{{ training.path }}">Sign Up</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <span>No scheduled trainings at this time. Schedule a private training!</span>
        {% endif %}
    </div>
  </div>

  <div class="container">
    <h2>Private Training</h2>
    <div>
      We offer private trainings at your place of business. Before every private training, we conduct a kickoff to assess your needs and tailor the training accordingly. Here are a few trainings we've offered in the past:
    </div>
    <ul>
      <li>Establishing Code Transparency with Git</li>
      <li>Creating a Continuous Integration Pipeline</li>
      <li>Continuous Integration with TravisCI</li>
      <li>Docker and Kalabox for Local Development</li>
      <li>Agile Development Workflows</li>
    </ul>
  </div>

  <div class="container training-cta">
    <div class="row header text-center">
      <h3>Ready to take it to the next level?</h3>
      <a href="/contact" title="contact" class="btn btn-primary" role="button">
        Talk to Us About Private Trainings
      </a>
    </div>
  </div>


  {% include '../components/organisms/social/social.html' %}

{% endblock %}
