{% extends '../layouts/html.html' %}

{% block contents %}

  <div id="work">

    <div id="header-title">
      <div class="container">
        <div class="row header">
          <div class="col-xs-12 ">
            <small class="subtitle">{{ byline|safe }}</small>
            <h1>{{ title|safe }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div id="header-byline">
      <div class="container">
        {{ contents|safe }}
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          {% for industry in tags.industries %}
            <div class="tag-link">
              <a href="/work/industry/{{ industry }}">{{ industry }}</a>
            </div>
          {% endfor %}
          <hr>
          {% for service in tags.services %}
            <div class="tag-link">
              <a href="/work/service/{{ service }}">{{ service }}</a>
            </div>
          {% endfor %}
          <hr>
          {% for technology in tags.tech %}
            <div class="tag-link">
              <a href="/work/technology/{{ technology }}">{{ technology }}</a>
            </div>
          {% endfor %}
        </div>
        <div class="col-sm-8">
          {% for service in collections.services %}
            {% include "../components/molecules/service/service.html" %}
          {% endfor %}
        </div>
      </div>
    </div>

  </div>

  {% include '../components/organisms/cta/cta.html' %}

{% endblock %}
