{% extends './html.html' %}

{% block title %}
  {%parent%} | {{title}} | {{pageSlogan}}
{% endblock %}

{% block contents %}

  <article id="article">

    <div id="header-title">
      <div class="container">
        <div class="row header">
          <div class="col-md-12 ">
            <h1>{{ title|safe }}</h1>
            <small>by <img class="avatar" src="images/authors/teaser/{{author|slug}}.jpg" alt="author" /> {{author|safe}} on {{date|date('F jS Y')}}</small>
          </div>
        </div>
      </div>
    </div>

    {% if mainImage %}
      <div id="main-pic">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <img src="{{mainImage}}" class="img-responsive blog-main-image" alt="blogpost" />
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div id="page-content">
      <div class="container">
        {{ contents|safe }}
      </div>
    </div>

    <div id="email-subscribe">
      <div class="container ">
        <a href="http://eepurl.com/caz4hn">
          <i class="fa fa-envelope"></i>
          Click here to get instant notifications on all our most recent posts
          <i class="fa fa-envelope"></i>
        </a>
      </div>
    </div>

  </article>

  {% include '../components/organisms/recent/recent.html' %}
  {% include '../components/organisms/cta/cta.html' %}

{% endblock %}
