{% extends './html.html' %}

{% block title %}
  {%parent%} | {{title}} | {{pageSlogan}}
{% endblock %}

{% block contents %}

  <article id="blogpost-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% if mainImage %}
            <div class="main-pic">
              <img src="{{mainImage}}" class="img-responsive" alt="blogpost" />
            </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 post">
          <h1 class="title">
            {{title|safe}}
          </h1>
          <div class="author">
            <img src="images/authors/{{author|slug}}.jpg" class="avatar" alt="author" />
            {{author|safe}}
          </div>
          <div class="content">
            {{contents|safe}}
          </div>
        </div>
      </div>
    </div>
  </article>

  {% include '../components/organisms/cta/cta.html' %}
  {% include '../components/organisms/social/social.html' %}

{% endblock %}
