{% extends './html.html' %}

{% block title %}
  {%parent%} | {{title}} | {{pageSlogan}}
{% endblock %}

{% block contents %}

  <article id="article">

    <div id="header-title">
      <div class="container">
        <div class="row header">
          <div class="col-md-12 ">
            <h1>{{ title|safe }}</h1>
            <small>By {{author|safe}}</small>
            <div class="linerule">
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if mainImage %}
      <div id="main-pic">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <img src="{{mainImage}}" class="img-responsive blog-main-image" alt="blogpost" />
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if byline %}
      <div class="byline">
        <div class="container">
          {{ byline|safe }}
        </div>
      </div>
    {% endif %}

    <div id="page-content">
      <div class="container">
        {{ contents|safe }}
      </div>
    </div>

  </article>

  {% include '../components/organisms/featured/featured.html' %}
  {% include '../components/organisms/cta/cta.html' %}

{% endblock %}
