{% extends './html.html' %}

{% block title %}
  {%parent%} | {{title}} | {{pageSlogan}}
{% endblock %}

{% block contents %}

  <style>
    .navbar.hero, .hero-case-study {
      background-color: #{{ background }};
    }
  </style>

  {% if dark %}
    <style>
      .navbar.hero .navbar-nav > li > a {
        color: #47474A;
      }
      .navbar .navbar-header .navbar-brand .tandem-logo {
        background-image: url('/images/tandem-logo-dark.png');
      }
      .hero-case-study h1 {
        color: #47474A;
      }
      #hero p.hero-text {
        color: #47474A;
      }
    </style>
  {% endif %}

  <div id="hero" class="hero-case-study">
    <div class="container">
      <div class="row">
        <h1 data-text="{{title|raw}}">{{ title|safe }}</h1>
        <p class="hero-text" data-text="{{title|safe}}">{{ byline|raw }}</p>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </div>

  <article id="case-study">

    <div id="page-content">
      <div class="container">
        {{ contents|safe }}
      </div>
    </div>

  </article>

  <div id="prev-next-posts">
    <div class="container">
      <div class="row header">

        <div class="col-md-6 featured-post previous-post">
          {% if previous %}
            <div class="tags">
              <a href="{{ previous.path }}">previous case study</a>
            </div>
            <div class="title">
              <a href="{{ previous.path }}">{{ previous.title }}</a>
            </div>
            <div class="author">
              For {{ previous.org }}
            </div>
          {% endif %}
        </div>

        <div class="col-md-6 featured-post next-post">
          {% if next %}
            <div class="tags">
              <a href="{{ next.path }}">next case study</a>
            </div>
            <div class="title">
              <a href="{{ next.path }}">{{ next.title }}</a>
            </div>
            <div class="author">
              For {{ next.org }}
            </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>

  {% include '../components/organisms/cta/cta.html' %}

{% endblock %}
