{% extends './html.html' %}


{% block contents %}

  <style>
    .navbar.hero, .hero-case-study {
      background-color: #{{ background }};
    }
    #case-study .case-study-summary-item {
      color: #FFFFFF;
      background-color: #{{ background }};
    }
    #case-study .case-study-summary-item h3 {
      color: #FFFFFF;
    }
    #case-study .case-study-quote blockquote {
      color: #{{ background }};
    }
    #case-study .case-study-metric {
      border-color: #{{ background }};
    }
  </style>

  {% if dark %}
    <style>
      .navbar.hero .navbar-nav > li > a {
        color: #47474A;
      }
      .navbar .navbar-header .navbar-brand .tandem-logo {
        background-image: url('/images/tandem-logo-dark.png');
      }
      .hero-case-study h1 {
        color: #47474A;
      }
      #hero p.hero-text {
        color: #47474A;
      }
      #case-study .case-study-summary-item h3 {
        color: #47474A;
      }
      #case-study .case-study-summary-item {
        color: #47474A;
      }
    </style>
  {% endif %}

  <div id="hero" class="hero-case-study">
    <div class="container">
      <div class="row">
        <h1 data-text="{{title|raw}}">{{ title|safe }}</h1>
        <p class="hero-text" data-text="{{title|safe}}">{{ byline|raw }}</p>
      </div>
    </div>
  </div>

  <article id="case-study">

    <div id="page-content">

      <div class="case-study-img">
        <div class="container">
          <img src="{{ image.src }}" class="img-responsive" title="{{ image.title }}" alt="{{ title|safe }}">
        </div>
      </div>

      <div class="case-study-summary">
        <div class="container">
          <div class="row">
            <div class="col col-md-4" data-mh="cs">
              <div class="case-study-summary-item">
                <h3>Challenge</h3>
                <div class="case-study-summary-challenge">
                  {{ challenge|raw }}
                </div>
              </div>
            </div>
            <div class="col col-md-4" data-mh="cs">
              <div class="case-study-summary-item">
                <h3>Solution</h3>
                <div class="case-study-summary-solution">
                  {{ solution|raw }}
                </div>
              </div>
            </div>
            <div class="col col-md-4" data-mh="cs">
              <div class="case-study-summary-item">
                <h3>Impact</h3>
                <div class="case-study-summary-impact">
                  {{ impact|raw }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="case-study-quote">
        <div class="container">
          <div class="row">
            <blockquote>
              {{ quote.content|safe }}
              <small>
                {{ quote.author|safe }}
              </small>
            </blockquote>
          </div>
        </div>
      </div>


      <div class="case-study-content">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                {% for metric in metrics %}
                  <div class="col-md-12">
                    <div class="case-study-metric">
                      <div class="case-study-metric-key text-center">
                        {{ metric.value }}
                      </div>
                      <div class="case-study-metric-value text-center">
                        {{ metric.key }}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-8">
              {{ contents|safe }}
            </div>
          </div>
        </div>
      </div>

    </div>

  </article>

  <div id="prev-next-posts">
    <div class="container">
      <div class="row header">

        <div class="col-md-6 featured-post previous-post">
          {% if previous %}
            <div class="tags">
              <a href="{{ previous.path }}">previous case study</a>
            </div>
            <div class="title">
              <a href="{{ previous.path }}">{{ previous.title }}</a>
            </div>
            <div class="author">
              For {{ previous.org }}
            </div>
          {% endif %}
        </div>

        <div class="col-md-6 featured-post next-post">
          {% if next %}
            <div class="tags">
              <a href="{{ next.path }}">next case study</a>
            </div>
            <div class="title">
              <a href="{{ next.path }}">{{ next.title }}</a>
            </div>
            <div class="author">
              For {{ next.org }}
            </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>

  {% include '../components/organisms/cta/cta.html' %}

{% endblock %}
