<!doctype html>
<html lang="en">
<head>
  <base href="{{ basePath }}" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="images/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="apple-touch-icon" href="images/touch-icon.png">
  <link rel="icon" href="images/favicon.png">
  <!--[if IE]><link rel="shortcut icon" href="images/favicon.ico"><![endif]-->
  <!-- or, set /favicon.ico for IE10 win -->
  <meta name="msapplication-TileColor" content="#f00">
  <meta name="msapplication-TileImage" content="images/tileicon.png">
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <title>{% block title %}{{config.title}} | {{title}}{% endblock %}</title>
  <meta name="robots" content="{{seo.robots}}">
  <link rel="canonical" href="{{seo.canonical}}" />
  <meta name="description" content="{% block desc %}{{seo.description}}{% endblock %}">
  <meta name="keywords" content="{{seo.keywords}}" />
  <meta property="og:title" content="{{seo.ogp.title}}" />
  <meta property="og:url" content="{{seo.canonical}}" />
  <meta property="og:description" content="{% block desc %}{{seo.description}}{% endblock %}" />
  {% if seo.ogp.type %}
  <meta property="og:type" content="{{seo.ogp.type}}" />
  {% else %}
  <meta property="og:type" content="website" />
  {% endif %}
  {% if seo.ogp.image %}
  <meta property="og:image" content="{{seo.ogp.image}}" />
  {% endif %}
  <meta name="twitter:card" content="{{twitter.card}}" />
  <meta name="twitter:site" content="{{twitter.site}}" />
  <meta name="twitter:title" content="{{title}}" />
  <meta name="twitter:description" content="{{seo.description}}" />
  <meta name="twitter:image" content="{{twitter.image}}" />
  {% block styles %}
  <link rel="stylesheet" href="public/devicon/devicon.min.css" inline>
  <link rel="stylesheet" href="styles/main.css" inline>
  {% endblock %}

</head>

<body class="{{ pageSlug }}">
  <main role="main" class="main">
    {% block header %}
    <header id="header" class="navbar hero" role="banner">
      {% block navigation %}
        {% set headerComponent = config.headerComponent %}
        {% include headerComponent %}
      {% endblock %}
    </header>
    {% endblock %}
  {% block contents %}

    <article>

      <div class="content">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
      </div>

      {{contents|safe}}

    </article>

  {% endblock %}
</main>

  {% block footer %}
    {% set footerComponent = config.footerComponent %}
    {% include footerComponent %}
  {% endblock %}

  {% block page-suffix %}
  {% endblock %}

  {% block scripts %}
    <script src="{{'js/scripts.min.js'|bustcache}}"></script>
    {% if jsonld %}
    <script type="application/ld+json">
      {{ jsonld|raw|json_encode }}
    </script>
    {% endif %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-74237404-2', 'auto');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a44042be1fe27e2"></script>
    <script type="text/javascript">
      /** This section is only needed once per page if manually copying **/
      if (typeof MauticSDKLoaded == 'undefined') {
        var MauticSDKLoaded = true;
        var head            = document.getElementsByTagName('head')[0];
        var script          = document.createElement('script');
        script.type         = 'text/javascript';
        script.src          = 'https://mautic.thinktandem.io/media/js/mautic-form.js';
        script.onload       = function() {
          MauticSDK.onLoad();
        };
        head.appendChild(script);
        var MauticDomain = 'https://mautic.thinktandem.io';
        var MauticLang   = {
          'submittingMessage': "Please wait..."
        }
      }
    </script>
    <script type="text/javascript">
      function verifyCallback_9c8f67dabc286dec24681e670cee0eb3( response ) {
        document.getElementById("mauticform_input_supportrequest_recaptcha1").value = response;
      }
    </script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
      (function(w,d,t,u,n,a,m){w['MauticTrackingObject']=n;
        w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)},a=d.createElement(t),
            m=d.getElementsByTagName(t)[0];a.async=1;a.src=u;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://mautic.thinktandem.io/mtc.js','mt');

      mt('send', 'pageview');
    </script>
  {% endblock %}

</body>
</html>
