<!doctype html>
<html>
<head>
  <base href="{{ basePath }}" />
  <meta charset="utf-8">
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="apple-touch-icon" href="images/touch-icon.png">
  <link rel="icon" href="images/favicon.png">
  <!--[if IE]><link rel="shortcut icon" href="images/favicon.ico"><![endif]-->
  <!-- or, set /favicon.ico for IE10 win -->
  <meta name="msapplication-TileColor" content="#f00">
  <meta name="msapplication-TileImage" content="images/tileicon.png">
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <title>
    {% block title %}{{config.title}} | {{title}}{% endblock %}
  </title>
  <meta name="robots" content="{{seo.robots}}">
  <link rel="canonical" href="{{seo.canonical}}" />
  <meta property="og:url" content="{{seo.canonical}}" />
  <meta property="og:title" content="{{seo.ogp.title}}" />
  {% if seo.ogp.type %}
  <meta property="og:type" content="{{seo.ogp.type}}" />
  {% else %}
  <meta property="og:type" content="website" />
  {% endif %}
  {% if seo.ogp.image %}
  <meta property="og:image" content="{{seo.ogp.image}}" />
  {% endif %}

  {% block head %}
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{description}}" />
  {% endblock %}

  {% block styles %}
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
    <noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <link rel="stylesheet" href="styles/final.css">
  {% endblock %}

  {% block scripts %}
    {% if jsonld %}
    <script type="application/ld+json">
      {{ jsonld|raw|json_encode }}
    </script>
    {% endif %}
  {% endblock %}
</head>

<body class="{{ pageSlug }}">
  <amp-analytics type="googleanalytics">
    <script type="application/json">
    {
      "vars": {
        "account": "UA-74237404-2"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
    </script>
  </amp-analytics>
  <main role="main" class="main">
    {% block header %}
    <header id="header" class="navbar hero" role="banner">
      {% block navigation %}
        {% set headerComponent = config.headerComponent %}
        {% include headerComponent %}
      {% endblock %}
    </header>
    {% endblock %}
  {% block contents %}

    <article>

      <div class="content">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
      </div>

      {{contents|safe}}

    </article>

  {% endblock %}
</main>

  {% block footer %}
    {% set footerComponent = config.footerComponent %}
    {% include footerComponent %}
  {% endblock %}

  {% block page-suffix %}
  {% endblock %}

</body>
</html>
