<!doctype html>
<html>
<head>
  <base href="{{ basePath }}" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="images/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="apple-touch-icon" href="images/touch-icon.png">
  <link rel="icon" href="images/favicon.png">
  <!--[if IE]><link rel="shortcut icon" href="images/favicon.ico"><![endif]-->
  <!-- or, set /favicon.ico for IE10 win -->
  <meta name="msapplication-TileColor" content="#f00">
  <meta name="msapplication-TileImage" content="images/tileicon.png">
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <title>
    {% block title %}{{config.title}} | {{title}}{% endblock %}
  </title>
  <meta name="robots" content="{{seo.robots}}">
  <link rel="canonical" href="{{seo.canonical}}" />
  <meta property="og:url" content="{{seo.canonical}}" />
  <meta property="og:title" content="{{seo.ogp.title}}" />
  {% if seo.ogp.type %}
  <meta property="og:type" content="{{seo.ogp.type}}" />
  {% else %}
  <meta property="og:type" content="website" />
  {% endif %}
  {% if seo.ogp.image %}
  <meta property="og:image" content="{{seo.ogp.image}}" />
  {% endif %}

  {% block head %}
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{description}}" />

  {% endblock %}
  <style>
    {% include '../../src/styles/critical.css' %}
  </style>

</head>

<body class="{% if pageSlug %}{{pageSlug}}{% else %}{{title|slug}}{% endif %}">
  <noscript id="deferred-styles">
    {% block styles %}
      <link rel="stylesheet" type="text/css" href="{{'styles/main.css'|bustcache}}">
    {% endblock %}
  </noscript>
  <script>
    var loadDeferredStyles = function() {
      var addStylesNode = document.getElementById("deferred-styles");
      var replacement = document.createElement("div");
      replacement.innerHTML = addStylesNode.textContent;
      document.body.appendChild(replacement)
      addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
  </script>
  <main role="main" class="main">
    {% block header %}
    <header id="header" class="navbar hero" role="banner">
      {% block navigation %}
        {% set headerComponent = config.headerComponent %}
        {% include headerComponent %}
      {% endblock %}
    </header>
    {% endblock %}
  {% block contents %}

    <article>

      <div class="content">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
      </div>

      {{contents|safe}}

    </article>

  {% endblock %}
</main>

  {% block footer %}
    {% set footerComponent = config.footerComponent %}
    {% include footerComponent %}
  {% endblock %}

  {% block page-suffix %}
  {% endblock %}

  {% block scripts %}
    <script src="{{'js/scripts.js'|bustcache}}"></script>
    <script src="{{'vendor/bootstrap-sass-twbs/assets/javascripts/bootstrap.min.js'|bustcache}}"></script>
    {% if jsonld %}
    <script type="application/ld+json">
      {{ jsonld|raw|json_encode }}
    </script>
    {% endif %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-74237404-2', 'auto');
      ga('send', 'pageview');
    </script>
  {% endblock %}

</body>
</html>
