{% extends './html.html' %}

{% block title %}
  {%parent%} | {{title}} | {{pageSlogan}}
{% endblock %}

{% block contents %}

  <style>
    .hero-case-study {
      background-image: url('{{ backgroundImage }}');
    }
    #hero:after, .navbar.hero {
      background-color: {{ background }};
    }
    #case-study .case-study-summary-item {
      color: #FFFFFF;
      background-color: #{{ background }};
    }
    #case-study .case-study-summary-item h3 {
      color: #FFFFFF;
    }
    #case-study .case-study-quote blockquote {
      color: #{{ background }};
    }
    #case-study .case-study-metric {
      border-color: #{{ background }};
    }
  </style>

  {% if dark %}
    <style>
      .navbar.hero .navbar-nav > li > a {
        color: #47474A;
      }
      .navbar .navbar-header .navbar-brand .tandem-logo {
        background-image: url('/images/tandem-logo-dark.png');
      }
      .hero-case-study h1 {
        color: #47474A;
      }
      #hero p.hero-text {
        color: #47474A;
      }
      #case-study .case-study-summary-item h3 {
        color: #47474A;
      }
      #case-study .case-study-summary-item {
        color: #47474A;
      }
    </style>
  {% endif %}

  <div id="hero" class="hero-case-study">
    <div class="container">
      <div class="row">
        <h1 data-text="{{title|raw}}">{{ title|safe }}</h1>
        <p class="hero-text" data-text="{{title|safe}}">{{ byline|raw }}</p>
        <form role="form" id="contact-form" method="post" action="{{action}}">
          <div class="form-group">
            <input type="text" aria-label="Email" title="Email" name="email" class="form-control" id="email" placeholder="Email" required />
          </div>
          <input type="hidden" name="_next" value="contact-thanks" />
          <input type="hidden" name="_subject" value="Pantheon Training" />
          <button type="submit" class="btn btn-primary">Get Pantheon Training</button>
          <span class="learn-more">
            or <a href="/pantheon-training/#service" class="btn">Learn More</a>
          </span>
        </form>
      </div>
    </div>
  </div>

  <article id="service">

    <div id="page-content">

      <div class="service-description">
        <div class="container">
          <div class="row">
              {{ contents|safe }}
          </div>
        </div>
      </div>

      <div class="service-testimonials">
        <div class="container">
          <div class="row">
            <div class="col col-md-4" data-mh="cs">
              <div class="service-testimonial-item">
                <div class="service-image">
                  <img class="img-circle" src="/images/testimonials/needham.png" />
                </div>
                <div class="service-testimonial">
                  <i class="fa fa-quote-left grey-text"></i>
                  Mike knows our platform very well and delivers his trainings with passion. He's basically the Neil Diamond of DevOps.
                </div>
                <div class="service-testimonial-author">
                  - David Needham/Agency & Community Training Manager at Pantheon
                </div>

              </div>
            </div>
            <div class="col col-md-4" data-mh="cs">
              <div class="service-testimonial-item">
                <div class="service-image">
                  <img class="img-circle" src="/images/testimonials/needham.png" />
                </div>
                <div class="service-testimonial">
                  <i class="fa fa-quote-left grey-text"></i>
                  Mike knows our platform very well and delivers his trainings with passion. He's basically the Neil Diamond of DevOps.
                </div>
                <div class="service-testimonial-author">
                  - David Needham/Agency & Community Training Manager at Pantheon
                </div>

              </div>
            </div>
            <div class="col col-md-4" data-mh="cs">
              <div class="service-testimonial-item">
                <div class="service-image">
                  <img class="img-circle" src="/images/testimonials/needham.png" />
                </div>
                <div class="service-testimonial">
                  <i class="fa fa-quote-left grey-text"></i>
                  Mike knows our platform very well and delivers his trainings with passion. He's basically the Neil Diamond of DevOps.
                </div>
                <div class="service-testimonial-author">
                  - David Needham/Agency & Community Training Manager at Pantheon
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>


  <div id="cta">
    <div class="container social">
      <div class="row header">
        <div class="col-xs-12">
          <h3>Ready For Pantheon Training?</h3>
          <p>Talk to us today so we can craft a custom training to make your DevOps dreams come true.</p>
          <a href="/contact" title="contact" class="btn btn-primary" role="button">
            Contact Us
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
