{% extends './html.html' %}

{% block title %}
  {%parent%} | {{title}} | {{pageSlogan}}
{% endblock %}

{% block contents %}
  <div class="container">
    <div class="row career">
      <div class="col-md-12">
        <div id="{{ slug }}" class="career">
          <h3>{{ title|safe }}</h3>
          {{ contents|safe }}
        </div>
      </div>
    </div>
  </div>

  <!-- Begin MailChimp Signup Form -->
  <div class="container">
    <form action="//kalabox.us12.list-manage.com/subscribe/post?u=59874b4d6910fa65e724a4648&amp;id=1fc0931243" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Let Me Know When Registration Starts</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_59874b4d6910fa65e724a4648_1fc0931243" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
      </div>
    </form>
  </div>

  <!--End mc_embed_signup-->

  {% include '../components/organisms/cta/cta.html' %}
  {% include '../components/organisms/social/social.html' %}

{% endblock %}
