<div class="navbar-header">
  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a href="/" class="navbar-brand">{{config.title}}</a>
</div>
<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
  <ul class="nav navbar-nav navbar-right">
    {% for navItem in navigation.primary %}
      {% set navItemIsActivePage = navItem.name|isSlugMatch(pageSlug) %}
      {% if navItemIsActivePage == true %}
        <li class="{{ navItem.name|slug }} active">
      {% else %}
        <li class="{{ navItem.name|slug }}">
      {% endif %}
        <a href="{% if navItem.url %}{{ navItem.url }}{% else %}{{ navItem.name|slug }}{% endif %}">{{navItem.name}}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
