#services-summary {
  .service-summary {
    height: 15em;
    a.btn {
      vertical-align: bottom;
      position: absolute;
      bottom: 0px;
      width: 87%;
      text-align: center;
    }
  }
}
