<div id="services-summary">
  <div class="container">
    <div class="row header">
      <h2 class="text-center">We do...</h2>
      <div class="col-md-4 col-xs-12">
        <div class="service-summary service-dev">
          <h3>Development</h3>
          <p>Whether it’s Drupal, Laravel, Node, or the next big thing, our developers create simple solutions that are built to last.</p>
          <a class="btn btn-secondary">Make Great Apps</a>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="service-summary service-strategy">
          <h3>Strategy</h3>
          <p>Understand your users and stakeholders to build the right thing, the best way possible.</p>
          <a class="btn btn-secondary">Plan Better</a>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="service-summary service-rescue">
          <h3>Rescues</h3>
          <p>Old technology dies hard. We chart the path to profitability by modernizing your legacy applications.</p>
          <a class="btn btn-secondary">Save Your Project</a>
        </div>
      </div>
    </div>
  </div>
</div>
