<div id="services-summary">
  <div class="container">
    <div class="row">
      <h2>Services</h2>
      <div class="col-xs-4 service-summary">
        <h3>Development</h3>
        <p>Whether it’s Drupal, Laravel, Node, or the next big thing, our developers create simple solutions that are built to last.</p>
        <a class="btn btn-secondary">Make Great Apps</a>
      </div>
      <div class="col-xs-4 service-summary">
        <h3>Strategy</h3>
        <p>Understand your users and stakeholders to build the right thing, the best way possible.</p>
        <a class="btn btn-secondary">Plan Better</a>
      </div>
      <div class="col-xs-4 service-summary">
        <h3>Rescue</h3>
        <p>Old technology dies hard. We chart the path to profitability by modernizing your legacy applications.</p>
        <a class="btn btn-secondary">Save Your Project</a>
      </div>
    </div>
  </div>
</div>
