#posts {

  .post-row {
    margin-top: 22px;
    border-top: 1px solid $brand-primary;
    .col-md-6 {
      .featured-post {
        .title {
          a {
            color: $brand-primary;
          }
        }
      }
      &:first-child {
        border-right: 1px solid $brand-primary;
      }
    }
  }

}
