#posts {

  .teasers {
    padding-top: 7em;
    padding-bottom: 7em;
  }

  .featured-post {
    border-top: 0;
    border-bottom: 1px solid $brand-primary;

    @media (min-width: 992px) {
      border-right: 1px solid $brand-primary;
      border-bottom: none;
      padding: 8% 4% 8% 4%;
    }

    &:last-child {
      border: 0;
    }

  }

}
