#info {
  .container {
    padding-bottom: 1em;
    padding-top: 1em;
  }
}

#staff {

  padding-top: 50px;

  .container {
    padding-bottom: 1em;
    padding-top: 1em;
  }

  h3 {
    font-family: $montserrat;
    margin-top: 0em;
    margin-top: 0;
    font-size: 1.6em;
    margin-bottom: 1em;
    @media (max-width: 997px) {
      margin-bottom: 0;
    }

    a {
      color: #FFFFFF;
    }

    @media(max-width: 991px) {
      line-height: 50px;
    }
  }

}
