#info {
  .container {
    border-bottom: 1px solid #efefef;
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

#staff {

  padding-top: 50px;

  h3 {
    font-family: $montserrat;
    margin-top: 0em;
    margin-top: 0;
    font-size: 1.6em;
    margin-bottom: 1em;

    a {
      color: #FFFFFF;
    }

    @media(max-width: 991px) {
      line-height: 50px;
    }
  }

}
