#article, #case-study {

  @media (min-width: 800px) {
    .container {
      width: 867px;
    }
  }

  #page-content {
    padding-bottom: 2em;
  }

  small {
    margin-top: 0;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
    color: $gray-base;
    letter-spacing: -0.07em;
  }

  .byline {
    padding-top: 3em;
    padding-bottom: 2em;
    font-weight: 300;
    font-size: 1.33em;
    color: $brand-success;
    line-height: 1.9em;
    font-style: italic;
  }

  .linerule {

    margin-bottom: 3.14em;
    margin-top: 1.2em;

    hr {
      position: absolute;
      width: 2.5em;
      border-top: 2px solid $brand-primary;
      text-align: left;
    }
  }

  .blog-main-image {
    margin: auto;
    max-height: 14em;
  }

  p {
    color: #2e3c40;
    font-size: 0.85em;
    margin: 1em 0;
    line-height: 1.9;
    font-weight: 300;
    margin-bottom: 1.8em;
    letter-spacing: -0.01em;

    @media (max-width: 767px) {
      padding: 0 2em;
    }
  }

  .language {
    border-radius: 0;
  }

  pre {
    font-size: 0.8em;
    padding-top: 0;
    margin-top: 0;
    border-radius: 0;
    background-color: $uniform;
    border: 0;
    code {
      background-color: $uniform;
    }
    .token.comment, .token.prolog, .token.doctype, .token.cdata {
      color: $gray-light;
    }
  }

  code {
    background-color: #efefef;
  }

  #header-title .container .row.header h1 {
    @media (max-width: 375px) {
      font-size: 1.7em;
    }
  }

  h2, h3, h4 {
    font-family: $montserrat;
    color: $gray-base;
    margin-top: 1.4em;
    margin-bottom: .9em;
  }

  #header-title h1 {
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 2em;
    @media (max-width: 375px) {
      font-size: 1.4em;
    }
  }

  h3 {
    font-size: 1.0em;
  }

  h4 {
    font-size: 2em;
  }

  ol,
  ul {
    margin-left: 0.5em;
    font-size: 0.95em;
    font-family: $montserrat;
    color: #2e3c40;
    font-size: 0.85em;
    margin: 1em 0;
    line-height: 1.9;
    font-weight: 300;
    margin-bottom: 1.8em;
    letter-spacing: -0.01em;
  }

  li {
    font-size: 0.95em;
    margin: 1em 0;
    line-height: 1.8;
  }

  blockquote {
    font-weight: 300;
    font-size: 1.33em;
    color: $brand-warning;
    line-height: 1.9em;
    font-style: italic;
    p {
      color: inherit;
    }
    small {
      font-weight: 400;
      font-size: 0.75em;
    }
  }

  img {
    max-width: 100%;
  }
}
