#article {

  p {
    color: #777777;
    font-size: 1em;
    margin-top: 1em;
    line-height: 1.3em;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }

  .avatar {
    max-width: 25px;
    border-radius: 100%;
    border: 1px solid #e0e0e0;
  }

  #page-content {
    .container {
      border-bottom: 1px solid #efefef;
      padding-bottom: 50px;
      padding-top: 50px;
    }
  }

  #email-subscribe {
    .container {
      border-bottom: 1px solid #efefef;
      padding-bottom: 25px;
      padding-top: 25px;
    }

    a {
      font-weight: 300;
      color: #459CE7;
      i {
        color: #FFCC4F;
        margin-right: 25px;
        margin-left: 25px;
      }
    }

    a:hover {
      text-decoration: none;
    }
  }

  #main-pic {
    .container {
      border-bottom: 1px solid #efefef;
      padding-bottom: 50px;
      padding-top: 50px;
    }
  }

}
