#article {
  .blog-main-image {
    margin: auto;
    max-height: 14em;
  }
  p {
    color: #5d6d77;
    font-size: 0.95em;
    margin: 1em 0;
    line-height: 1.8;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

  pre {
    font-size: 0.8em;
    padding-top: 0;
    margin-top: 0;
    code {
      background-color: #272822;
    }
  }

  code {
    background-color: #efefef;
  }

  h2, h3, h4 {
    font-family: $lato;
    color: #34495e;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.2em;
  }

  .avatar {
    max-width: 25px;
    border-radius: 100%;
    border: 1px solid #e0e0e0;
  }

  #page-content {
    .container {
      border-bottom: 1px solid #efefef;
      padding-bottom: 50px;
      padding-top: 50px;
    }
  }

  #email-subscribe {
    .container {
      border-bottom: 1px solid #efefef;
      padding-bottom: 25px;
      padding-top: 25px;
    }

    a {
      font-weight: 300;
      color: #459CE7;
      i {
        color: #FFCC4F;
        margin-right: 25px;
        margin-left: 25px;
      }
    }

    a:hover {
      text-decoration: none;
    }
  }

  #main-pic {
    .container {
      border-bottom: 1px solid #efefef;
      padding-bottom: 50px;
      padding-top: 50px;
    }
  }

  ol,
  ul {
    margin-left: 0.5em;
    font-size: 0.95em;
    font-family: $lato;
  }

  li {
    color: #5d6d77;
    font-size: 0.95em;
    margin: 1em 0;
    line-height: 1.8;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

  blockquote {
    margin: 40px 0px 31px;
    border-left: 5px solid #FFCC4F;
    p {
      color: #4BB5DD;
    }
  }

  img {
    max-width: 100%;
  }
}
