#posts {
  -webkit-font-smoothing: antialiased;
  margin-top: 55px;

  .pages {
    border-top: 1px solid #efefef;
    padding-top: 25px;
    padding-bottom: 25px;
    @media(max-width: 991px) {
      text-align: center;
    }

    .pagination > li > a, .pagination > li > span {
      margin-right: 10px;
      border-radius: 100%;
      padding: 4px 12px;
    }
    .active {
      background-color: #4BB5DD;
    }
  }

  .sidebar {
    border-left: 1px solid #efefef;
    @media(max-width: 991px) {
      margin-top: 70px;
      text-align: center;
    }
  }
}


