.blog-tags {
  text-align: center;
  &.tags-top {
    margin-bottom: 15px;
  }
  .col {
    a {
      border-right: 1px solid black;
      padding: 0 10px;
      margin-left: -5px;
      &:last-of-type {
        border-right: none;
      }
    }
  }
}


#posts {
  -webkit-font-smoothing: antialiased;
  margin-top: 55px;

  .container {
    padding-bottom: 1em;
    padding-top: 1em;
  }

  .pages {
    @media(max-width: 991px) {
      text-align: center;
    }

    .pagination > li > a, .pagination > li > span {
      margin-right: 10px;
      border-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      padding: 4px 12px;
      font-family: courier;
      border: 0;
    }
    .active {
      background-color: #4BB5DD;
    }
  }

  .sidebar {
    @media(max-width: 991px) {
      margin-top: 70px;
      text-align: center;
    }
  }
}
