#contact {
  #map {
    min-height: 700px;
    max-height: 1000px;
  }

  .message {
    form {
      input.form-control {
        color: #777;
        font-weight: 300;
      }
    }
  }

  #page-content {
    .container {
      .address {
        @media (max-width: 768px) {
          padding-right: 0;
          border: none;
        }
        padding-right: 100px;
        border-right: 1px solid #efefef;
        padding-bottom: 2em;
      }
      .map {
        padding-left: 40px;
        padding-top: 2em;
        padding-bottom: 2em;
      }
    }
  }
}

#contact-thanks {
  #rockout {
    .container {
      padding-bottom: 40px;
      padding-top: 40px;
      border-bottom: 1px solid #efefef;
    }
    img {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}
