#contact {
  #map {
    min-height: 700px;
    max-height: 1000px;
  }

  .message {
    form {
      input.form-control {
        color: #777;
        font-weight: 300;
      }
    }
  }

  #page-content {
    .container {
      .address {
        padding-right: 100px;
        border-right: 1px solid #efefef;
        padding-bottom: 40px;
      }
      .map {
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
  }

}

