#contact {
  #map {
    min-height: 700px;
    max-height: 1000px;
  }

  .container {
    padding-bottom: 1em;
    padding-top: 1em;
  }

  .form-control {
    font-size: 1.2em;
    font-weight: 300;
    padding: 1.7em 1em;
  }

  textarea::-webkit-input-placeholder {
    font-size: 1.1em;
    font-weight: 300;
  }

  textarea:-moz-placeholder { /* Firefox 18- */
    font-size: 1.1em;
    font-weight: 300;
  }

  textarea::-moz-placeholder {  /* Firefox 19+ */
    font-size: 1.1em;
    font-weight: 300;
  }

  textarea:-ms-input-placeholder {
    font-size: 1.1em;
    font-weight: 300;
  }

  #page-content {
    .container {
      .address {
        padding-right: 100px;
        padding-bottom: 2em;

        @media (max-width: 767px) {
          padding-right: 0;
          border: none;
        }
      }

      .map {
        padding-left: 40px;
        padding-bottom: 2em;

        @media (max-width: 767px) {
          padding-left: 15px;
        }
      }
    }
  }
}

#contact-thanks {
  #rockout {
    .container {
      padding-bottom: 40px;
      padding-top: 40px;
      border-bottom: 1px solid #efefef;
    }
    img {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}
