.homepage {
  .header {
    h2 {
      line-height: 25px;

      @media(max-width: 991px) {
        line-height: 1.4em;
      }
    }
  }
  h2 {
    text-transform: none;
    font-weight: 300;
  }
  h3 {
    font-size: 1.4em;
  }

}

#featured-posts {
  .row.header {
    border-top: 1px solid $brand-primary;

    .col-md-6 {
      border-left: 1px solid $brand-primary;

      &:first-child {
        border-left: 0;
      }
    }
  }

  @media (max-width: 767px) {
    position: relative;
    top: -7em;
  }
}
