.homepage {
  .header {
    h2 {
      line-height: 25px;
      margin-bottom: 45px;

      @media(max-width: 991px) {
        line-height: 50px;
      }
    }
  }
  h2 {
    text-transform: none;
    font-weight: 300;
  }
  h3 {
    font-size: 1.4em;
  }
  footer {
    h2 {
      color: $gray-lighter;
      font-size: 0.8em;
      text-transform: uppercase;
      font-weight: 300;
    }
    .footer-right {
      background-color: $blueState;
      h2 {
        font-size: 1.3em;
      }
      a {
        font-size: 3.0em;
      }
    }
  }
}
