.homepage {
  .header {
    h2 {
      line-height: 25px;

      @media(max-width: 991px) {
        line-height: 1.4em;
      }
    }
  }
  h2 {
    text-transform: none;
    font-weight: 300;
  }
  h3 {
    font-size: 1.4em;
  }

  #hero {
    @media (max-width: 767px) {
      min-height: 17em;
    }
  }
}
