#services {

  .equation {
    .service {
      border: 0;
      .icon-header {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  .container {
    padding-bottom: 1em;
    padding-top: 1em;
  }

  .service-category {

    @media(max-width: 768px) {
      margin-bottom: 40px;
    }

    small {
      padding-top: 40px;
      color: #999;
      display: block;
    }
  }

  .services-plus:after {
    content: "";
    content: " ";
    width: 0;
    height: 0;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: 30px solid #CCC;
    position: absolute;
    top: 39px;
    left: 150px;

    @media(max-width: 768px) {
      visibility: hidden;
    }

  }

  .container {
    padding-bottom: 1em;
    padding-top: 1em;
  }

  .container:last-child {
    border-bottom: none;
  }

  #service {
    padding-bottom: 30px;
  }

  .service-link {

    margin-right: 35px;
    padding: .5em;
    a {
      line-height: 1;
    }

    a:hover {
      text-decoration: none;
    }
  }

}

.icon-header {
  a {
    width: 130px;
    display: inline-block;
    text-align: center;
    margin-bottom: .5em;
    vertical-align: top;
  }
}

#service {
  .service-item {
    .container {
      @media (min-width: 800px) {
        width: 867px;
      }
    }
  }

  #page-content {
    p {
      margin-top: 0px;
      font-weight: 300;
      line-height: 1.6em;
    }
    h2 {
      font-size: 1.7em;
    }
  }

  .container {
    padding-bottom: 1em;
    padding-top: 1em;

  }

  .row {
    margin-top: 1em;
    h3 {
      margin-top: 0px;
    }
  }

}
