#services {
  margin: 2em 0em;

  .equation {
    .service {
      border: 0;
      .icon-header {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  .service-category {

    @media(max-width: 768px) {
      margin-bottom: 40px;
    }

    small {
      padding-top: 40px;
      color: #999;
      display: block;
    }
  }

  .services-plus:after {
    content: "";
    content: " ";
    width: 0;
    height: 0;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: 30px solid #CCC;
    position: absolute;
    top: 39px;
    left: 150px;

    @media(max-width: 768px) {
      visibility: hidden;
    }

  }

  .container {
    border-bottom: 1px solid #efefef;
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .container:last-child {
    border-bottom: none;
  }

  #service {
    padding-bottom: 30px;
  }

  .service-link {

    margin-right: 35px;
    border-right: 1px solid #efefef;
    @media (max-width: 768px) {
      border-right: none;
    }
    padding: .5em;
    a {
      line-height: 1;
    }

    a:hover {
      text-decoration: none;
    }
  }

}

  .icon-header {
    a {
      width: 130px;
      display: inline-block;
      text-align: center;
      margin-bottom: .5em;
    }
  }
