#work {

  .container {
    padding-bottom: 1em;
    padding-top: 1em;

    @media (max-width: 767px) {
      padding-top: 0;
    }
  }

  .tags {
    @media (max-width: 767px) {
      display: none;
    }

    .tag-link {
      text-transform: capitalize;
      margin-right: 35px;
      padding: .3em;

      a {
        line-height: 0.8em;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }

  .linerule {
    width: 1.5em;
    margin-left: 0.5em;
    border-top: 2px solid $gray-light;
  }


  .case-study {

    // Add the flip stuff here so it doesn;t affect the front page case studies
    &.work-page {
      perspective: 1000px;

      &:hover {
        .flipper {
          transform: rotateY(180deg);
        }
      }

      .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
      }

      .case-study-front, .case-study-back {
        backface-visibility: hidden;
      }

      .case-study-front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
        height: 265px;

        .title {
          h2 {
            font-size: 1.6em;
            padding: 15px;

            @media (max-width: 767px) {
              font-size: 1.3em;
            }
          }
        }

        .logo {
          background-color: transparent;

          &.case-study-usf-redirect-rescue {
            img {
              transform: translateX(-60%);
            }
          }

          img {
            width: 50%;
            position: absolute;
            left: 50%;
            bottom: 5%;
            transform: translateX(-55%);
            padding-top: 2em;
          }
        }
      }
      .case-study-back {
        transform: rotateY(180deg);
        font-size: 1em;
        padding: 15px;
        height: 265px;
        position: absolute;
        top: 0;

        &.dark {
          color: $gray-base;
        }

        &.light {
          color: white;
        }
      }
    }

    // CSS isn't smart enough to do this dynamically yet.
    &[data-bg='BD587A'] {
      background-color: #BD587A;
    }

    &[data-bg='ED3F7A'] {
      background-color: #ED3F7A;
    }

    &[data-bg='8CC63E'] {
      background-color: #8CC63E;
    }

    &[data-bg='EFD01B'] {
      background-color: #EFD01B;
    }

    &[data-bg='00574D'] {
      background-color: #00574D;
    }

    .dark {
      color: $gray-base;
    }

    .light {
      color: white;
    }

    @media (max-width: 767px) {
      margin-bottom: 5px;
    }

  }
}
