@charset "UTF-8";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

header,
main,
nav {
  display: block;
}

a {
  background-color: transparent;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

small {
  font-size: 80%;
}

img {
  border: 0;
}

button {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.42857;
  color: #6C7279;
  background-color: #fff;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #4BB5DD;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

h1 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  color: #555555;
}

h1 {
  margin-top: 31px;
  margin-bottom: 15.5px;
}

h1 {
  font-size: 57px;
}

p {
  margin: 0 0 15.5px;
}

small {
  font-size: 86%;
}

.text-center {
  text-align: center;
}

ul {
  margin-top: 0;
  margin-bottom: 15.5px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-md-2,
.col-md-10,
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-md-2,
  .col-md-10,
  .col-md-12 {
    float: left;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-12 {
    width: 100%;
  }
}

.collapse {
  display: none;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav:before,
.nav:after {
  content: " ";
  display: table;
}

.nav:after {
  clear: both;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 31px;
  border: 1px solid transparent;
}

.navbar:before,
.navbar:after {
  content: " ";
  display: table;
}

.navbar:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

.navbar-header:before,
.navbar-header:after {
  content: " ";
  display: table;
}

.navbar-header:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

.navbar-collapse:before,
.navbar-collapse:after {
  content: " ";
  display: table;
}

.navbar-collapse:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

.navbar-brand {
  float: left;
  padding: 9.5px 15px;
  font-size: 28px;
  line-height: 31px;
  height: 50px;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin: 4.75px -15px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 31px;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 31px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857;
  text-decoration: none;
  color: #4BB5DD;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination > li:first-child > a {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination > .active > a {
  z-index: 3;
  color: #fff;
  background-color: #4BB5DD;
  border-color: #4BB5DD;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-primary {
  background-color: #4BB5DD;
}

@-ms-viewport {
  width: device-width;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

a {
  color: #459CE7;
}

p {
  color: #777777;
  font-size: 1em;
  margin-top: 1em;
  line-height: 1.3em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.pagination > .active > a {
  background-color: #4BB5DD;
  border-color: #3FD8DF;
}



@media (min-width: 768px) {
  .navbar-nav > li {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}

.teaser .post {
  margin-bottom: 90px;
}

.teaser .post .title {
  font-family: "Lato", "Helvetica Neue", Arial;
  font-size: 2em;
  font-weight: 300;
  color: #333;
  line-height: 50px;
}

@media (max-width: 991px) {
  .teaser .post .title {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .teaser .post .title {
    font-size: 1.4em;
  }
}

.teaser .post .title a {
  color: #111;
}

.teaser .post .author {
  color: #888;
  margin-top: 4px;
  position: relative;
}

@media (max-width: 991px) {
  .teaser .post .author {
    text-align: center;
  }
}

.teaser .post .author .avatar {
  max-width: 100%;
  border-radius: 100%;
  border: 1px solid #e0e0e0;
}

@media (max-width: 991px) {
  .teaser .post .author .avatar {
    margin-bottom: 50px;
    line-height: 50px;
    max-width: 50%;
  }
}

.teaser .post .intro {
  font-family: "Helvetica Neue", Helvetica, Arial;
  margin-top: 18px;
  font-size: 20px;
  line-height: 27px;
  color: #4d4d4d;
}

@media (min-width: 992px) {
  .teaser .post .intro {
    width: 90%;
  }
}

.teaser .post .continue-reading {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 15px;
  display: inline-block;
  margin-top: 8px;
}

#tags .container {
  padding-bottom: 2em;
  padding-top: 2em;
}

#tags .label {
  background: #FF8E79;
  color: #FFFFFF;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}

#tags .label a {
  color: #FFFFFF;
}

#info .container {
  border-bottom: 1px solid #efefef;
  padding-bottom: 50px;
  padding-top: 50px;
}

#posts {
  -webkit-font-smoothing: antialiased;
  margin-top: 55px;
}

#posts .pages {
  border-top: 1px solid #efefef;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (max-width: 991px) {
  #posts .pages {
    text-align: center;
  }
}

#posts .pages .pagination > li > a {
  margin-right: 10px;
  border-radius: 100%;
  padding: 4px 12px;
}

#posts .pages .active {
  background-color: #4BB5DD;
}

body {
  font-size: 22px;
}

.navbar .icon-bar {
  width: 33px;
  height: 4px;
  border-bottom: 3px solid #fff;
}

.navbar.hero {
  margin: 0px;
  border-radius: 0px;
  border: 0px;
  z-index: 999;
  background-color: #72C8E9;
  padding: .5em 0em;
  padding-bottom: 0px;
  -webkit-font-smoothing: antialiased;
}

.navbar.hero .navbar-brand {
  color: #fff;
  font-weight: 500;
  font-size: 1.5em;
  font-family: "Lato", "Helvetica Neue", Arial;
}

.navbar.hero .navbar-nav > li > a {
  color: #fff;
  font-size: 1em;
  padding: 15px 20px;
  font-weight: 300;
}

.navbar.hero .navbar-nav > li.contact {
  background-color: #FFCC4F;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 10px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .navbar.hero .navbar-nav > li.contact {
    margin: 0;
    border-radius: 0;
  }
}

.navbar.hero .navbar-nav > li.contact > a {
  padding: 5px 10px;
  color: #333;
}

.container.border-bottom {
  border-bottom: 1px solid #efefef;
}
