@charset "UTF-8";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

header,
main,
nav {
  display: block;
}

a {
  background-color: transparent;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

small {
  font-size: 80%;
}

button,
input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.42857;
  color: #6C7279;
  background-color: #fff;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #4BB5DD;
  text-decoration: none;
}

h1,
h3 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  color: #555555;
}

h1,
h3 {
  margin-top: 31px;
  margin-bottom: 15.5px;
}

h1 {
  font-size: 57px;
}

h3 {
  font-size: 2em;
}

p {
  margin: 0 0 15.5px;
}

small {
  font-size: 86%;
}

.text-center {
  text-align: center;
}

ul {
  margin-top: 0;
  margin-bottom: 15.5px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-md-4,
.col-md-8,
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-md-4,
  .col-md-8,
  .col-md-12 {
    float: left;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-12 {
    width: 100%;
  }
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  height: 45px;
  padding: 6px 12px;
  font-size: 22px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.form-control::-webkit-input-placeholder {
  color: #999;
}

.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: 15px;
}

.collapse {
  display: none;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav:before,
.nav:after {
  content: " ";
  display: table;
}

.nav:after {
  clear: both;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 31px;
  border: 1px solid transparent;
}

.navbar:before,
.navbar:after {
  content: " ";
  display: table;
}

.navbar:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

.navbar-header:before,
.navbar-header:after {
  content: " ";
  display: table;
}

.navbar-header:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

.navbar-collapse:before,
.navbar-collapse:after {
  content: " ";
  display: table;
}

.navbar-collapse:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

.navbar-brand {
  float: left;
  padding: 9.5px 15px;
  font-size: 28px;
  line-height: 31px;
  height: 50px;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin: 4.75px -15px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 31px;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}

@-ms-viewport {
  width: device-width;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

a {
  color: #459CE7;
}

p {
  color: #777777;
  font-size: 1em;
  margin-top: 1em;
  line-height: 1.3em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 768px) {
  .navbar-nav > li {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}

input[type="text"].form-control {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

input[type="text"].form-control::-webkit-input-placeholder {
  font-weight: 300;
}

input[type="text"].form-control:-moz-placeholder {
  font-weight: 300;
}

input[type="text"].form-control::-moz-placeholder {
  font-weight: 300;
}

input[type="text"].form-control:-ms-input-placeholder {
  font-weight: 300;
}

textarea.form-control {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

textarea.form-control::-webkit-input-placeholder {
  color: #B1B1B1;
  font-weight: 400;
  font-size: 14px;
}

textarea.form-control:-moz-placeholder {
  color: #B1B1B1;
  font-weight: 400;
  font-size: 14px;
}

textarea.form-control::-moz-placeholder {
  color: #B1B1B1;
  font-weight: 400;
  font-size: 14px;
}

textarea.form-control:-ms-input-placeholder {
  color: #B1B1B1;
  font-weight: 400;
  font-size: 14px;
}

#contact #map {
  min-height: 700px;
  max-height: 1000px;
}

#contact .message form input.form-control {
  color: #777;
  font-weight: 300;
}

#contact #page-content .container .address {
  padding-right: 100px;
  border-right: 1px solid #efefef;
  padding-bottom: 2em;
}

@media (max-width: 768px) {
  #contact #page-content .container .address {
    padding-right: 0;
    border: none;
  }
}

#contact #page-content .container .map {
  padding-left: 40px;
  padding-top: 2em;
  padding-bottom: 2em;
}

body {
  font-size: 22px;
}

#header-title h1 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  color: #555555;
  margin-top: 31px;
  margin-bottom: 15.5px;
}

@media (max-width: 991px) {
  #header-title h1 {
    line-height: 50px;
  }
}

#header-title .container {
  border-bottom: 1px solid #efefef;
  padding-bottom: 50px;
  padding-top: 50px;
}

.navbar .icon-bar {
  width: 33px;
  height: 4px;
  border-bottom: 3px solid #fff;
}

.navbar.hero {
  margin: 0px;
  border-radius: 0px;
  border: 0px;
  z-index: 999;
  background-color: #72C8E9;
  padding: .5em 0em;
  padding-bottom: 0px;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 768px) {
  .navbar.hero .navbar-nav > .active > a {
    color: #fff;
  }
}

.navbar.hero .navbar-brand {
  color: #fff;
  font-weight: 500;
  font-size: 1.5em;
  font-family: "Lato", "Helvetica Neue", Arial;
}

.navbar.hero .navbar-nav > li > a {
  color: #fff;
  font-size: 1em;
  padding: 15px 20px;
  font-weight: 300;
}

.navbar.hero .navbar-nav > li.contact {
  background-color: #FFCC4F;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 10px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .navbar.hero .navbar-nav > li.contact {
    margin: 0;
    border-radius: 0;
  }
}

.navbar.hero .navbar-nav > li.contact > a {
  padding: 5px 10px;
  color: #333;
}
