// Override.
@import "base/variables";

// Vendor stylesheets
@import "bootstrap-sass-twbs/assets/stylesheets/bootstrap";
@import "prism";

// KalaStatic Extendables and Mixins
@import "base/mixins";
@import "base/bootstrap-overrides";
@import "base/extendables";
@import "base/typography";
@import "base/elements";
@import "fontawesome";
@import "devicon";
@import "kalabox";

/*
Custom Components

The following are components that are built specifically for the site.

Custom
*/
@import "../../templates/components/molecules/bio/bio";
@import "../../templates/components/molecules/career/career";
@import "../../templates/components/molecules/modal/modal";
@import "../../templates/components/molecules/quote/quote";
@import "../../templates/components/molecules/service/service";
@import "../../templates/components/molecules/teaser/teaser";

@import "../../templates/components/organisms/cta/cta";
@import "../../templates/components/organisms/footer/footer";
@import "../../templates/components/organisms/hero/hero";
@import "../../templates/components/organisms/recent/recent";
@import "../../templates/components/organisms/sf/sf";
@import "../../templates/components/organisms/slideshow/slideshow";
@import "../../templates/components/organisms/social/social";
@import "../../templates/components/organisms/stats/stats";
@import "../../templates/components/organisms/tags/tags";
@import "../../templates/components/organisms/testimonials/testimonials";
@import "../../templates/components/organisms/valuesec/valuesec";

/**
 * Pages
 */
@import "pages/about";
@import "pages/article";
@import "pages/blog";
@import "pages/careers";
@import "pages/contact";
@import "pages/homepage";
@import "pages/services";

/**
 * Snippets
 */
@import "snippets/mailchimp";

body {
  font-size: $font-size-base;
}

a.hexagon:hover {
  color: #FFFFFF;
}

.hexagon {
  margin-top: 30px;
  width: 104px;
  height: 60px;
  background-color: transparent;
  position: relative;
  text-align: center;
  color: #FFFFFF;

  i {
    font-size: 75px;
    position: relative;
    top: -8px;
  }

}

.hexagon:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
  left: 0;
}

.hexagon:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  left: 0px;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.hexagon-red {
  @extend .hexagon;
  background-color: #FF8E79;
}

.hexagon-red:before {
  @extend .hexagon:before;
  border-bottom: 30px solid #FF8E79;
}

.hexagon-red:after {
  @extend .hexagon:after;
  border-top: 30px solid #FF8E79;
}

.hexagon-orange {
  @extend .hexagon;
  background-color: #FFCC4F;
}

.hexagon-orange:before {
  @extend .hexagon:before;
  border-bottom: 30px solid #FFCC4F;
}

.hexagon-orange:after {
  @extend .hexagon:after;
  border-top: 30px solid #FFCC4F;
}

.hexagon-yellow {
  @extend .hexagon;
  background-color: #FFEC79;
}

.hexagon-yellow:before {
  @extend .hexagon:before;
  border-bottom: 30px solid #FFEC79;
}

.hexagon-yellow:after {
  @extend .hexagon:after;
  border-top: 30px solid #FFEC79;
}

.hexagon-green {
  @extend .hexagon;
  background-color: #72F0A1;
}

.hexagon-green:before {
  @extend .hexagon:before;
  border-bottom: 30px solid #72F0A1;
}

.hexagon-green:after {
  @extend .hexagon:after;
  border-top: 30px solid #72F0A1;
}

.hexagon-blue {
  @extend .hexagon;
  background-color: #75CAEB;
}

.hexagon-blue:before {
  @extend .hexagon:before;
  border-bottom: 30px solid #75CAEB;
}

.hexagon-blue:after {
  @extend .hexagon:after;
  border-top: 30px solid #75CAEB;
}

a, button {
  &:focus {
    outline: none;
  }
}

#header-title {

  h1 {
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: #555555;
    margin-top: 31px;
    margin-bottom: 15.5px;

    a {
      color: #FFFFFF;
    }

    @media(max-width: 991px) {
      line-height: 50px;
    }
  }

  .container {
    border-bottom: 1px solid #efefef;
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

.icon-wrapper {
  display:inline-block;
}

.navbar {
  .icon-bar {
    width: 33px;
    height: 4px;
    border-bottom: 3px solid #fff;
  }
  &.normal {
    min-height: 70px;
    background: #223741;
    border-radius: 0px;
    box-shadow: 0px 1px 3px 1px rgba(46,46,46,0.3), inset rgba(255, 255, 255, 0.2) 0 1px 1px;
    border: none;
    z-index: 9999;
    -webkit-font-smoothing: antialiased;

    .navbar-header {
      .navbar-brand {
        color: #fff;
        padding: 25px 15px;
        font-weight: 500;
        font-size: 23px;
      }
      .navbar-toggle {
        margin-top: 17px;
      }
    }
    .navbar-collapse {

      @media(min-width: 768px) {
        text-align: center;
      }

      .navbar-nav {

        @media(min-width: 768px) {
          float: none;
          display: inline-block;
        }

        > li {
          float: none;
          display: inline-block;

          @media(max-width: 767px) {
            display: block;
          }

          &.active {
            > a {
              background: none;
              color: #fff;
            }
          }
          > a {
            padding: 25px 20px;
            color: #d5d5d5;
            font-weight: 500;
            z-index: 1001;
            @include transition(color 0.2s linear);

            @media(max-width: 767px) {
              padding: 18px 20px;
            }

            &:hover {
              color: #fff;
            }
          }

          &.open {
            ul.dropdown-menu {
              a {
                @media(max-width: 767px) {
                  color: #fff;
                  padding: 12px 18px 12px 30px;
                }
              }
            }
          }
          ul.dropdown-menu {
            text-align: left;
            padding: 9px 0;

            li a {
              padding: 8px 18px;
            }
          }
        }
        .button {
          padding: 8px 18px;
          font-size: 13px;
          position: relative;
          top: 17px;

          @media(max-width: 767px) {
            box-shadow: none;
            background: none;
            top: 0;
            margin-bottom: 20px;
            color: #d5d5d5 !important;
            font-size: 15px;
          }
        }
      }
    }
  }

  &.hero {
    margin: 0px;
    border-radius: 0px;
    border: 0px;
    z-index: 999;
    background-color: #72C8E9;
    padding: .5em 0em;
    padding-bottom: 0px;
    -webkit-font-smoothing: antialiased;

    @media (min-width: 768px) {

      .navbar-nav >.active > a {
        color: #fff;
      }
    }

    .navbar-brand {
      color: #fff;
      font-weight: 500;
      font-size: 1.5em;
      font-family: $lato;
    }

    .navbar-nav {
      > li {

        &.dropdown > a .caret {
          border-top-color: #EBEBEB;
        }

        > a {
          color: #fff;
          font-size: 1em;
          padding: 15px 20px;
          font-weight: 300;
          @include transition(color 0.2s linear);

          &:hover {
            color: #fff;
          }
        }
        &.contact {

          @media (max-width: 767px) {
            margin: 0;
            border-radius: 0;
          }
          background-color: #FFCC4F;
          border-radius: 5px;
          font-weight: 500;
          margin-right: 10px;
          text-transform: uppercase;
          > a {
            padding: 5px 10px;
            color: #333;
          }
        }
        &.open {
          > a {
            color: #fff !important;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 4px 4px 0 0;
          }
          ul.dropdown-menu {
            a {
              @media(max-width: 767px) {
                color: #fff;
                padding: 12px 18px 12px 30px;
              }
            }
          }
        }
        ul.dropdown-menu {
          text-align: left;
          background: rgba(0, 0, 0, 0.8);
          box-shadow: none;
          padding: 5px 0 8px 0;
          border-radius: 4px 0 4px 4px;
          border: 0px;

          li a {
            color: #fff;
            padding: 10px 18px;
            font-size: 15px;
            &:hover {
              color: #e9e9e9;
              background: none;
            }
          }
        }
      }
    }
  }

  &.white {
    min-height: 70px;
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    z-index: 999;
    -webkit-font-smoothing: antialiased;

    @media (min-width: 768px) {
      background: #fff;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, .75);
    }

    .container {
      @media (min-width: 1200px) {
        width: 1000px;
      }
    }

    .navbar-header {
      .navbar-brand {
        color: #333;
        font-weight: bold;
        font-size: 30px;
        font-family: $lato;
        padding-top: 24px;

        @media (max-width: 767px) {
          color: #fff;
          font-size: 20px;
        }
      }

      .navbar-toggle {
        margin-top: 17px;
      }
    }

    .navbar-collapse {

      @media(min-width: 768px) {
        text-align: center;
      }

      .navbar-nav {

        @media(min-width: 768px) {
          float: none;
          display: inline-block;
        }

        > li {
          float: none;
          display: inline-block;

          @media(max-width: 767px) {
            display: block;
          }

          &.active {
            > a {
              background: none;
              color: #333;
            }
          }

          > a {
            padding: 25px 20px;
            color: #555;
            z-index: 1001;
            @include transition(color 0.2s linear);

            &.signup {
              border: 1px solid #CED7DF;
              border-radius: 5px;
              padding: 8px 11px;
              font-size: 13px;
              color: #333;
              margin-left: 20px;
            }

            @media(max-width: 767px) {
              padding: 18px 20px;
              color: #fff;
            }

            .fa-chevron-down {
              color: #777;
              font-size: 8px;
              margin-left: 2px;
              position: relative;
              top: -1px;
            }

            &:hover {
              color: #333;

              @media(max-width: 767px) {
                color: #fff;
              }
            }
          }

          &.open {
            > a {
              @media(min-width: 768px) {
                background: #fff;
                color: #333;
              }

              .caret {
                border-top-color: #999;
                border-bottom-color: #999;
              }
            }

            ul.dropdown-menu {
              a {
                @media(max-width: 767px) {
                  color: #fff;
                  padding: 12px 18px 12px 30px;
                }
              }
            }
          }

          ul.dropdown-menu {
            text-align: left;
            border: 0;
            padding: 0 0 10px;
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.175);

            li a {
              padding: 8px 18px;
            }
          }
        }

      }
    }
  }
}

.row.header {
  h3 {
    @media (max-width: 767px) {
      font-size: 1em;
      line-height: 1.5em;
    }
    margin: 0;
    font-family: $lato;
    color: #333;
    line-height: 1.5em;
    padding: 1em 0em;
  }
}

.container.border-bottom {
  border-bottom: 1px solid #efefef;
}

.training-cta .btn {
  margin-bottom: 2em;
}
