#prev-next-posts {
  @media (max-width: 991px) {
    margin-bottom: 25px;
  }
}

.prev-next-posts {
  padding: 20px 15px;
  margin: 0;
  border-bottom: 1px solid $brand-primary;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: 992px) {
    padding: 7% 9% 11%;
    margin-bottom: -4%;
    border-bottom: none;
  }

  .tags {
    margin-bottom: 1.2em;
    a {
      color: $gray;
      font-weight: 200;
      font-size: 0.7em;
    }
  }

  .title {
    margin-bottom: 1.5em;
    a {
      margin-top: 0;
      font-weight: 400;
      font-size: 1.4em;
      text-transform: uppercase;
      color: $gray-base;
    }
    a:hover {
      text-decoration: none;
    }
  }

  .author {
    margin-top: 0;
    font-weight: 400;
    font-size: .75em;
    text-transform: uppercase;
    color: $gray-base;
  }

}

.featured-post {
  padding: 20px 15px;
  margin: 0;
  border-bottom: 1px solid $brand-primary;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: 992px) {
    padding: 10% 9% 15%;
    margin-bottom: -4%;
    border-bottom: none;
  }

  .tags {
    margin-bottom: 1.2em;
    a {
      color: $gray;
      font-weight: 200;
      font-size: 0.7em;
    }
  }

  .title {
    margin-bottom: 1.5em;
    a {
      margin-top: 0;
      font-weight: 400;
      font-size: 1.4em;
      text-transform: uppercase;
      color: $gray-base;
    }
    a:hover {
      text-decoration: none;
    }
  }

  .author {
    margin-top: 0;
    font-weight: 400;
    font-size: .75em;
    text-transform: uppercase;
    color: $gray-base;
  }

}
