#clients {
  margin: 7em 0em;
  .logos {
    width: 80%;
    text-align: center;
    margin: auto;
    a:hover {
      text-decoration: none;
    }
    .client-logo {
      max-width: 300px;
      max-height: 100px;
      margin: 1em;
    }
  }
}
