#clients {
  background: #5E7A9B;
  background: radial-gradient(#36414E, #253241);
  margin-top: 120px;
  padding: 65px 0 80px;

  text-align: center;

  h3 {
    color: #FFF;
    margin-top: 0;
    font-family: $lato;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: .3px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  p {
    font-size: 16px;
    color: #f8f8f8;
    font-family: $lato;
    margin-top: 17px;
    font-weight: 300;
    line-height: 25px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .logos {
    margin-top: 35px;

    img {
      margin: 0 16px;

      @media(max-width: 767px) {
        margin: 0 auto;
        display: block;
        margin-bottom: 15px;
      }
    }
  }
}