#clients {
  margin: 7em 0em;
  .logos {
    .logo {
      background-color: $gray-base;
      height: 10em;
      @media (max-width: 997px) {
        height: auto;
      }
      img {
        width: 80%;
        @media (min-width: 997px) {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          padding-top: 2em;
          padding-bottom: 2em;
        }
      }
    }
  }
}
