<div id="clients">
  <div class="container">
    <div class="row header">
      <h2 class="text-center">For organizations like...</h2>
      <div class="logos text-center">
        {% for client in clients.clients %}
          <div class="col-md-3 col-xs-12">
            <div class="logo">
              <a href="{{ client.url }}" title="{{ client.name }}">
                <img class="client-logo" aria-hidden="true" src="images/clients/{{ client.logo }}">
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
