<div id="clients">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Our Customers</h3>
        <p>
          These are some of our customers who have helped us by using our product.
        </p>
        <div class="logos">
          <img src="images/logos/google.png">
          <img src="images/logos/facebook.png">
          <img src="images/logos/apple.png">
          <img src="images/logos/stripe.png">
          <img src="images/logos/yahoo.png">
        </div>
      </div>
    </div>
  </div>
</div>