#tags {
  .container {
    border-bottom: 1px solid #efefef;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .label {
    background: #FF8E79;
    color: #FFFFFF;
    padding: 10px;
    margin: 5px;
    a {
      color: #FFFFFF;
    }
  }
}
