#tags {
  .container {
    padding-bottom: 2em;
    padding-top: 2em;
  }
  .label {
    background: $soCalledPink;
    color: #FFFFFF;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    a {
      color: #FFFFFF;
    }
  }
}
