<div class="col-md-4">
  <div class="bio-img bio-img-{{ staff.color|safe }}">
    <a href="{{ staff.link }}">
      <img class="center-block img-responsive img-circle img-staff" alt="{{ staff.first|safe }} {{ staff.last|safe }} bio-portrait" src="{{ staff.image }}" data-toggle="tooltip" data-placement="top" title="{{ staff.quote|safe }}">
    </a>
  </div>
  <div class="bio-first text-center">{{ staff.first|safe }}</div>
  <h3 class="bio-last text-center">{{ staff.last|safe }}</h3>
  <div class="bio-role text-center">{{ staff.role|safe }}</div>
  <div class="bio-dev text-center">{{ staff.dev|safe }}</div>
</div>
