#cta {
  -webkit-font-smoothing: antialiased;
  background-color: #4BB5DD;

  .container {
    border-top: 1px solid #ACE2F7;
    padding: 4em 1em;
  }

  .header {

    a {
      color: #333333;
      white-space: normal;
    }

    h3 {
      margin-top: 0;
      font-family: $montserrat;
      color: #FFFFFF;
      line-height: 1em;
    }
  }

  .btn {
    background-color: #FFCC4F;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1em;
    margin: 2em 1em
  }

}
