#cta {
  -webkit-font-smoothing: antialiased;
  background-color: $miami;

  .container {
    border-top: 1px solid #ACE2F7;
    padding: 4em 1em;
  }

  .header {

    a {
      color: $gray-base;
      white-space: normal;
    }

    h3 {
      margin-top: 0;
      line-height: 1em;
    }
  }

  .btn {
    border-radius: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1em;
    margin-top: 2em;
  }

}
