#cta {
  -webkit-font-smoothing: antialiased;
  background-color: #4BB5DD;

  .container {
    border-top: 1px solid #ACE2F7;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .header {

    a {
      color: #333333;
    }

    h3 {
      margin-top: 0;
      font-family: $lato;
      color: #FFFFFF;
      line-height: 25px;
    }
  }

  .btn {
    background-color: #FFCC4F;
    margin-top: 50px;
    border-radius: 5px;
    font-weight: 300;
    text-transform: uppercase;
    padding: .5em 1em;
  }

}
