#testimonials {
  padding: 40px;
  -webkit-font-smoothing: antialiased;
  background-color: #4BB5DD;

  .header {
    text-align: center;

    h3 {
      font-family: $lato;
      color: #FFFFFF;
      line-height: 25px;
      margin-bottom: 45px;
    }
  }
  .testimonial {
    width: 90%;

    @media (max-width: 767px) {
      float: none !important;
      margin: 0 auto;
      margin-bottom: 45px;
    }

    .quote {
      font-size: 13px;
      color: #FFF;
      line-height: 24px;
      background-color: #72C8E9;
      padding: 12px 22px;
      border-radius: 6px;
      width: 90%;
      position: relative;

      @media (max-width: 767px) {
        margin: 0 auto;
      }

      .arrow-down {
        position: absolute;
        bottom: 3px;
        left: 30px;

        .arrow, .arrow-border {
          border-color: #72C8E9 transparent transparent;
          border-style: solid;
          border-width: 11px;
          position: absolute;
          top: 3px;
          z-index: 1002;
        }
        .arrow-border {
          border-width: 12px;
          top: 3px;
          z-index: 1001;
          left: -1px;
        }
      }
    }
    .author {
      margin-top: 40px;
      margin-left: 10px;

      @media (max-width: 767px) {
        margin-left: 6%;
      }

      .pic {
        width: 71px;
        height: 71px;
        border-radius: 50px;
        float: left;
        position: relative;
        top: -12px;
        margin-right: 18px;
        border: 1px solid #ccc;
      }
      .name {
        color: #FFFFFF;
        line-height: 23px;
        font-weight: 500;
      }
      .company {
        font-size: 14px;
        color: #ACE2F7;
        line-height: 23px;
        font-weight: 400;
      }
    }
  }
}
