#testimonials {
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-font-smoothing: antialiased;
  background-color: $brand-info;

  .header {
    text-align: center;

    h3 {
      color: #FFFFFF;
      line-height: 25px;
      margin-bottom: 45px;

      a {
        color: #FFFFFF;
      }

      @media(max-width: 991px) {
        line-height: 50px;
      }
    }
  }
  .testimonial {
    width: 90%;

    @media (max-width: 767px) {
      float: none !important;
      margin: 0 auto;
      margin-bottom: 45px;
    }
  }
}
