#testimonials {
  padding-top: 40px;
  padding-bottom: 7em;
  -webkit-font-smoothing: antialiased;

  .testimonial {

    @media (max-width: 767px) {
      float: none !important;
      margin: 0 auto;
      margin-bottom: 45px;
    }
  }

  .quote {

    padding: 5% 5%;
    border-radius: 6px;
    position: relative;
    margin: 1em 0em;
    color: $gray-lighter;
    line-height: 1.9em;
    font-size: 0.8em;

    &.quote-hibiscus {
      background-color: $hibiscus;
      .arrow, .arrow-border {
        border-color: $hibiscus transparent transparent;
      }
    }

    &.quote-londonderry {
      background-color: $londonderry;
      .arrow, .arrow-border {
        border-color: $londonderry transparent transparent;
      }
    }

    &.quote-blue-state {
      background-color: $blueState;
      .arrow, .arrow-border {
        border-color: $blueState transparent transparent;
      }
    }

    &.quote-dark {
      background-color: $habanero;
      .arrow, .arrow-border {
        border-color: $habanero transparent transparent;
      }
    }

    p {
    }

    @media (max-width: 767px) {
      margin: 0 auto;
    }

    .arrow-down {
      position: absolute;
      bottom: 3px;
      left: 30px;

      .arrow, .arrow-border {
        border-style: solid;
        border-width: 11px;
        position: absolute;
        top: 3px;
        z-index: 1002;
        opacity: .2;
      }
      .arrow-border {
        border-width: 12px;
        top: 3px;
        z-index: 1001;
        left: -1px;
      }
    }
  }
  .quote-author {
    margin-top: 40px;
    margin-left: 10px;

    @media (max-width: 767px) {
      margin-left: 6%;
    }

    .pic {
      width: 71px;
      height: 71px;
      border-radius: 50px;
      float: left;
      position: relative;
      top: -12px;
      margin-right: 18px;
      border: 1px solid #ccc;
    }
    .name {
      line-height: 23px;
      font-weight: 500;
    }
    .company {
      font-size: 14px;
      color: $gray;
      line-height: 23px;
      font-weight: 400;
    }
  }

}
