<div id="testimonials">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h3>Trusted by a lot businesses around the world:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="testimonial pull-right">
          <div class="quote">
            I am just quoting some stuff but I am seriously happy about this product. Has a lot of powerful
            features and is so easy to set up, I could stay customizing it day and night, it's just so much fun!
            <div class="arrow-down">
                      <div class="arrow"></div>
                      <div class="arrow-border"></div>
                  </div>
          </div>
          <div class="author">
            <img src="images/testimonials/testimonial3.jpg" class="pic" alt="testimonial3" />
            <div class="name">John McClane</div>
            <div class="company">Microsoft</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="testimonial">
          <div class="quote">
            This thing is one of those tools that everybody should be using. I really like it and with this ease to use, you can kickstart your projects and apps and just focus on your business!
            <div class="arrow-down">
                      <div class="arrow"></div>
                      <div class="arrow-border"></div>
                  </div>
          </div>
          <div class="author">
            <img src="images/testimonials/testimonial2.jpg" class="pic" alt="testimonial2" />
            <div class="name">Karen Jones</div>
            <div class="company">Pixar Co.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>