<div id="testimonials">
  <div class="container">
    <div class="row header">
      <h2 class="text-center">And this is what they think about us...</h2>
    </div>
    <div class="row">
      <div class="col-md-6">

        <div class="quoteblock">
          <div class="testimonial pull-right">
            <div class="quote quote-hibiscus">
              I just wanted to thank Tandem for helping us work through the process of personas and journey mapping. Now we can adapt this process to other projects internally to help us navigate through other member focused decisions.
              <div class="arrow-down">
                <div class="arrow"></div>
                <div class="arrow-border"></div>
              </div>
            </div>
            <div class="quote-author">
              <img src="images/testimonials/brook.jpg" class="pic" alt="California's Valued Trust" />
              <div class="name">Brook Paulsen</div>
              <div class="company">California's Valued Trust</div>
            </div>
          </div>
        </div>

        <div class="quoteblock">
          <div class="testimonial pull-right">
            <div class="quote quote-blue-state">
              Wow! Our tech is delivering business value again and not churning indefinitely. Spitze!
              <div class="arrow-down">
                <div class="arrow"></div>
                <div class="arrow-border"></div>
              </div>
            </div>
            <div class="quote-author">
              <img src="images/testimonials/you.png" class="pic" alt="Your Organization" />
              <div class="name">You In Six Months</div>
              <div class="company">Your Organization</div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="quoteblock">
          <div class="testimonial pull-right">
            <div class="quote quote-londonderry">
              Tandem has been instrumental in helping us find a better path forward with our technology. Thanks!
              <div class="arrow-down">
                <div class="arrow"></div>
                <div class="arrow-border"></div>
              </div>
            </div>
            <div class="quote-author">
              <img src="images/testimonials/hugh.png" class="pic" alt="Outsell Inc." />
              <div class="name">Hugh Byrne</div>
              <div class="company">Outsell Inc.</div>
            </div>
          </div>
        </div>

        <div class="quoteblock">
          <div class="testimonial pull-right">
            <div class="quote quote-dark">
              Tandem duplicated our infrastructure in Docker and created a tight integration in Kalabox that allows our users an easy way to start working with the Pantheon platform...very impressive technology!
              <div class="arrow-down">
                <div class="arrow"></div>
                <div class="arrow-border"></div>
              </div>
            </div>
            <div class="quote-author">
              <img src="images/testimonials/joshkoenig.jpg" class="pic" alt="Pantheon Website Management Platform" />
              <div class="name">Josh Koenig</div>
              <div class="company">Pantheon Website Management Platform</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
