#sf {

  padding-top: 2em;
  padding-bottom: 2em;

  h3 {
    font-family: $montserrat;
    font-size: 3em;
  }
  @media (min-width:320px) {
    svg {
      width: 299px;
    }
  }

  @media (min-width: 768px) {
    h3 {
      margin-top: 0.4em;
      text-align: right;
    }
    svg {
      width: 400px;
    }
  }

  @media (min-width: 992px) {
    h3 {
      margin-top: 1em;
      margin-left: 1em;
    }
  }

  .sf {
    path.color {
      fill: #FF7042;
    }
  }
}
