#sf {

  padding-top: 2em;
  padding-bottom: 2em;

  h3 {
    font-family: $montserrat;
  }
  @media (min-width: 320px) {
    .logo {
      text-align: center;
    }
    svg {
      width: 299px;
    }
    h3 {
      font-size: 2em;
      text-align: center;
    }
  }

  @media (min-width: 768px) {
    h3 {
      margin-top: 0.4em;
    }
    svg {
      width: 400px;
    }
  }

  @media (min-width: 992px) {
    .logo {
      text-align: left;
    }
    h3 {
      text-align: right;
      margin-top: 1em;
      margin-left: 1em;
      font-size: 3em;
    }
  }

  .sf {
    path.color {
      fill: #FF7042;
    }
  }
}
