#sf {

  padding-top: 2em;
  padding-bottom: 2em;

  h3 {
    font-family: $montserrat;
  }

  @media (max-width: 768px) {
    svg {
      width: 400px;
    }
  }

  @media (min-width: 768px) {
    h3 {
      margin-top: 0.4em;
      text-align: right;
    }
  }

  @media (min-width: 992px) {
    h3 {
      margin-top: 1em;
    }
  }

  .sf {
    path.color {
      fill: $brand-primary;
    }
  }
}
