#hero {
  overflow: hidden;
  background: #4BB5DD;
  background-size: cover;


  /* These are some ready-to-use backgrounds you can test out by uncommenting them */

  /*background-image: url("../../images/bg2.png");*/
  /*background-image: url("../../images/bg3.png");*/
  /*background-image: url("http://25.media.tumblr.com/665f306a0a5a5eae6e0c91f33ce74695/tumblr_mzzqv2P7MY1st5lhmo1_1280.jpg");*/
  /*background: -webkit-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)), -webkit-linear-gradient(108deg, #5E8199, #153752 90%);*/

  background-position: center 16%;
  height: 90vh;
  min-height: 28em;
  max-height: 40em;
  position: relative;

  @media (max-width: 767px) {
    min-height: 10em;
    max-height: 20em;
  }

  &:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  &:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  i {
    color: #FFFFFF;
    font-size: 2.5em;
    margin: 10px;
  }

  .custom-icon {
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
    background: #72F0A1;
    opacity: .88;
    padding: 10px;
    -webkit-border-radius: 1100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 0;
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    @media (max-width: 767px) {
      font-size: 40px;
      padding: 8px;
      width: 45px;
      height: 45px;
    }
  }
  .fix-editor {
    display:none;
  }
  .icon-wrapper {
    display:inline-block;
  }

  .container {
    position: relative;
    z-index: 33;
    top: 2em;
    height: 100%;
  }

  h1.hero-text {
    font-family: $lato;
    line-height: 1.1em;
    text-align: center;
    font-size: 4em;
    font-weight: 300;
    letter-spacing: .3px;
    color: #FFF;
    margin: 2em 1em 1em 1em;
    margin-top: 10vh;

    -webkit-animation-duration: 1s;

    @media (max-width: 767px) {
      font-size: 2em;
      line-height: 2em;
      margin: 0;
    }
  }

  h2.hero-text {
    font-size: 2em;
    color: #ACE2F7;
    margin-bottom: 1em;
    @media (max-width: 767px) {
      font-size: 1em;
      line-height: 2em;
      margin: 0;
    }
  }

  .sub-text {
    -webkit-font-smoothing: antialiased;
    width: 50%;
    margin-top: 25px;
    font-family: $lato;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

    -webkit-animation-duration: 1s;

    @media (max-width: 991px) {
      width: 70%;
    }

    @media (max-width: 767px) {
      font-size: 15px;
      width: 100%;
      text-align: center;
    }
  }

  .hero-readmore {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    bottom: 2em;
    a {
      display: block;
      text-decoration: none;
      font-weight: 100;
      color: white;
    }

    i {
      display: block;
      margin-top: -.3em;
    }
  }

  .cta {
    @include animationDelay(0.6s);
    margin-top: 60px;

    @media (max-width: 767px) {
      text-align: center;
    }

    a {
      margin-right: 20px;
      padding: 15px 31px;

      @media (max-width: 767px) {
        font-size: 14px;
        padding: 12px 25px;
        margin: 0px 15px 15px 0px;
      }
    }
  }

  .img {
    position: absolute;
    top: 15px;
    left: 625px;
    width: 570px;
    height: 333px;
    background-image: url("../../images/static-hero.png");
    background-repeat: no-repeat;

    @media(max-width: 991px) {
      display: none;
    }
  }
  .hero-icons {
    margin-top: 8em;
    @media(max-width: 767px) {
      margin-top: 4em;
    }
  }
  .hero-icon {
    display: inline-block;
    img {
      margin: auto;
      display: block;
      width: 100%;
      max-width: 90px;
    }
    h3 {
      @extend h2;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      font-size: 1.2em;
      margin-top: 1.2em;
      font-weight: 300;
      font-family: Lato;
      @media(max-width: 767px) {
        font-size: .7em;
      }
    }
  }

}
