#hero {
  overflow: hidden;
  //background-size: cover;


  /* These are some ready-to-use backgrounds you can test out by uncommenting them */

  /*background-image: url("../../images/bg2.png");*/
  /*background-image: url("../../images/bg3.png");*/
  /*background-image: url("http://25.media.tumblr.com/665f306a0a5a5eae6e0c91f33ce74695/tumblr_mzzqv2P7MY1st5lhmo1_1280.jpg");*/
  /*background: -webkit-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)), -webkit-linear-gradient(108deg, #5E8199, #153752 90%);*/

  //background-position: center 16%;
  min-height: 100vh;
  //min-height: 34em;
  //max-height: 40em;
  position: relative;

  @media (max-width: 767px) {
    padding-left: 1em;
  }

  @media (max-width: 480px) {
    min-height: 0;
  }

  &:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  &:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  i {
    color: #FFCC4F;
    font-size: 5.5em;
    margin: 10px;
  }

  .container {
    position: relative;
    z-index: 33;
    top: 2em;
    height: 100%;
  }

  .hero-text {
    padding: 3em;
    h1 {
      //margin: 2em 0em 1em 0em;
      margin-top: 25px;
      margin-right: 15px;
      -webkit-animation-duration: 1s;
      font-size: 3.5em;
      line-height: 1;

      @media (max-width: 767px) {
        font-size: 2em;
        //margin: 0em 0em 0.75em 0em;
        //line-height: 1em;
      }
    }

    p {
      font-size: 1.4em;
      margin-bottom: 0;

      @media (max-width: 767px) {
        font-size: 1em;
        //margin: 1em 1em 1em 0em;
      }
    }
  }

  .banner-top-cta {
    background-color: rgb(0, 87, 77);
    text-align: center;
    min-height: 17vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

}
