<div id="hero">
  <div id="particles-js"></div>
  <div class="container">
    <div class="row">
      <h1 class="hero-text animated fadeInDown text-center" data-text="{{title|safe}}">{{ config.heroPri }}</h1>
      <h2 class="hero-text animated fadeInDown text-center" data-text="{{title|safe}}">{{ config.heroSec}}</h1>
      <div class="hero-service text-center">
        {% for i in config.tools %}
          <div class="icon-wrapper">
            <i class="fa {{ i.icon }} custom-icon"><span class="fix-editor">&nbsp;</span></i>
          </div>
        {% endfor %}
      </div>
      <div class="hero-readmore text-center">
        <a href="#features">{{ config.heroCta }}</a>
        <a href="#features"><i class="fa fa-sort-desc" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
