<div id="hero">
  <div class="container">
    <div class="row">
      <h1 class="hero-text animated fadeInDown" data-text="{{title|safe}}">
        We Make Your Web App Work.
      </h1>
    </div>
    <div class="row hero-icons">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8">
        <div class="row">
          <div class="hero-icon col-xs-4">
            <img src="images/develop.png" />
            <h3>Develop</h3>
          </div>
          <div class="hero-icon col-xs-4">
            <img src="images/test.png" />
            <h3>Test</h3>
          </div>
          <div class="hero-icon col-xs-4">
            <img src="images/go-live.png" />
            <h3>Go Live</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-2">
      </div>
    </div>
  </div>
</div>