#value {

  h3 {
    margin-top: 0;
    font-family: $lato;
    color: #333;
    line-height: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .container {
    border-bottom: 1px solid #efefef;
    margin-bottom: 25px;
  }

}
