#sub-hero {
  padding-bottom: 25px;

  .sub-hero-ask {
    p {
      @media (min-width: 992px) {
        font-size: 26px;
      }
    }
  }

  .sub-hero-cta {
    text-align: center;
    padding-top: 15px;
  }
}
