<div id="sub-hero">
  <div class="container">
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
    <h4>Morbi varius efficitur velit, quis pharetra orci egestas sit amet. Mauris mattis nunc at lectus facilisis tempor sit amet in sem. Nam semper ligula id odio pretium rutrum. In id diam nunc. Phasellus dictum lorem sit amet consequat luctus. Praesent vitae condimentum ante. Etiam rutrum, mauris sed venenatis placerat, tellus ante vulputate ante, sed accumsan ex ipsum ac mi.</h4>
    <ul>
      <li>Duis dui enim, tincidunt eu ante vel, dignissim consectetur sapien. Nunc mattis sapien erat, in facilisis felis fermentum at.</li>
      <li>In a consequat urna, in placerat erat. Curabitur ornare sapien sit amet hendrerit tincidunt</li>
      <li>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus musd</li>
    </ul>
  </div>
</div>
