<div id="sub-hero">
  <div class="container">
    <h2>Tandem is the agency that helps forward-thinking organizations like yours reach their goals because we value partnership and an efficient, repeatable process.</h2>
    <h2>What does that mean to you?</h2>
    <ul>
      <li>We want to solve for your long-term goals, not just today's hot issue, Whether you’re in higher education, non-profit or a healthcare/corporate entity, we can help you travel the roadmap to conversions.</li>
      <li>We believe for us to win we need to act as an extension of your team and be invested in your success. Your results are our KPIs.</li>
      <li>We don’t want to do one great thing for you. We want to continue to work with you and repeat your success with each new goal, efficiently - to save you time, budget and headaches.</li>
    </ul>
    <h3>Let’s talk.</h3>
  </div>
</div>









