#valuesec {

  .container {

    .message {
      padding: 3em 1em;
      color: #222222;
      font-size: 1em;
      line-height: 1.5em;
      font-weight: 300;
      -webkit-font-smoothing: antialiased;

      .btn-primary {
        background: #72F0A1;
        color: #333;
        display: block;
        margin-top: 30px;
      }

    }

    .graphix {
      padding: 2em 0em;
    }

    .funcloud {
      @media (max-width: 767px) {
        width: 250px;
        height: 250px;
        line-height: 3em;
      }
      width: 425px;
      height: 425px;
      background-color: #4BB5DD;
      border: 18px solid #ACE2F7;
      border-radius: 50%;

      a:hover {
        text-decoration: none;
      }

      i {
        @media (max-width: 767px) {
          font-size: 6em;
        }
        font-size: 300px;
        color: #FFFFFF;
        position: relative;
        top: 25px;
        display: block;
      }

      small {
        color: #FFFFFF;
        text-transform: uppercase;
      }

    }

  }

}
