.career {

  p {
    color: #5d6d77;
    font-size: 0.95em;
    margin: 1em 0;
    line-height: 1.8;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

  a:hover {
    text-decoration: none;
  }

}
