<a href="/work/{{ study.slug }}" title="{{ study.org }}">
  <div class="col-md-6 col-xs-12 case-study case-study-{{ study.slug }} work-page" data-bg="{{ study.background }}">
    <div class="flipper">
      <div class="case-study-front">
        <div class="title">
          <h2 class="{% if study.dark %} dark {% else %} light {% endif %}">{{ study.title }}</h2>
        </div>
        <div class="logo case-study-{{ study.slug }}">
          <img class="client-logo" aria-hidden="true" src="{{ study.logo }}">
        </div>
      </div>
      <div class="case-study-back {% if study.dark %} dark {% else %} light {% endif %}">
        {{ study.byline|raw }}
      </div>
    </div>
  </div>
</a>
