<a href="/work/{{ study.slug }}" title="{{ study.org }}">
  <div class="col-md-6 col-xs-12 case-study case-study-{{ study.slug }}" data-bg="{{ study.background }}">
    <div class="case-study-front">
      <div class="title">
        <h2 class="{% if study.dark %} dark {% else %} light {% endif %}">{{ study.title }}</h2>
      </div>
      <div class="logo">
        <img class="client-logo" aria-hidden="true" src="{{ study.logo }}">
      </div>
    </div>
    <div class="case-study-back {% if study.dark %} dark {% else %} light {% endif %}">
      {{ study.byline|raw }}
    </div>
  </div>
</a>
