footer {

  background: linear-gradient(to right, $brand-info 60%, $blueState 57%);
  font-size: .8em;
  color: #fff;
  padding-bottom: 3em;
  padding-top: 3em;

  @media(max-width: 768px) {
    background: $brand-info;
    .footer-right {
      padding-bottom: 3em;
      background: $blueState;
    }
    padding-bottom: 0em;
  }

  @media(min-width: 769px) {
    .footer-left{
      width: 57.26509%;
    }
    .footer-right {
      width: 42.62414%;
      padding-left: 5em;
    }
    background: linear-gradient(to right, #035785 60%, #035F91 57%);
  }

  @media(max-width: 1000px) {
    .container.footer1 {
      width: 100%;
    }
  }

  @media(min-width: 1600px) {
    background: linear-gradient(to right, $brand-info 57%, $blueState 54%);
  }

  @media(min-width: 2000px) {
    background: linear-gradient(to right, $brand-info 55%, $blueState 54%);
  }


  .footer-left {
    .col-xs-6 {
      height: 12em;
    }
  }

  .footer-right {
    h2 {
      font-size: 1.3em;
    }
    a {
      font-size: 3.0em;
    }
  }

  h2 {
    color: $gray-light;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 300;
  }

  a {
    color: $gray-lighter;
    font-size: 0.8em;
  }
  a:hover {
    text-decoration: underline;
    color: $gray-lighter;
  }
  -webkit-font-smoothing: antialiased;

  @media(max-width: 991px) {
    padding-top: 30px;
  }

  ul {
    list-style: none;
    padding: 0em;
  }

  .social {
    font-size: 2em;
  }
}

.theend {
  background-color: $gray-base;
  padding-top: 10px;
  padding-bottom: 10px;
  .copyright {
    font-size: 0.5em;
    color: $gray-light;
  }
}
