footer {
  background: $brand-info;
  font-size: .8em;
  color: #fff;
  h3 {
    color: #fff;
    font-size: 1em;
  }
  a {
    color: $miami;
  }
  a:hover {
    text-decoration: none;
  }
  -webkit-font-smoothing: antialiased;

  @media(max-width: 991px) {
    padding-top: 30px;
  }

  .credits {
    color: #FFFFFF;
    font-size: 13px;
    text-align: center;
    padding: 20px;
  }

  ul {
    list-style: none;
    padding: 0em;
  }

  .social {
    font-size: 2em;
  }
}
