<footer class="footer">
  <div id="footer">
    <div class="container social">
      <div class="row">
        <div class="col-sm-6 icons">
          {% for navItem in navigation.socialfooter %}
          <a href="{{ navItem.url }}" title="{{ navItem.name }}">
            <i class="fa {{ navItem.icon }}" aria-hidden="true"></i>
          </a>
          {% endfor %}
        </div>
        <div class="col-sm-6 newsletter">
         <div class="signup clearfix">
            <form action="//kalabox.us12.list-manage.com/subscribe/post?u=59874b4d6910fa65e724a4648&amp;id=512ca1c79c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <input  type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
              <input type="submit" value="Sign up" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="credits">
      <div class="row">
        <div class="col-md-12">
          Copyright © 2016 by Kalabox, Inc. DBA Tandem.
        </div>
      </div>
    </div>
  </div>
</footer>

