<div id="distributed">
  <div class="container">
    <div class="row">
      <div class="col-md-5 map">
        <img src="images/distributed.png" class="img-responsive" alt="Distributed Team Map">
      </div>
      <div class="col-md-7 distributed-text">
        <p class="top-text">We are a fully distributed team! What does that mean to you?</p>
        <ul>
          <li>We have access to the best talent, anywhere in the country</li>
          <li>A team member is working when you are, regardless of what coast you’re on</li>
          <li>Need to talk face-to-face, we’re a short drive or flight to most major cities</li>
        </ul>
        <div class="row">
          <div class="col-md-8">
            <p class="bottom-text">Ready to get to know us better?</p>
          </div>
          <div class="col-md-4">
            <a href="/contact" class="btn btn-primary">Lets Talk</a>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
