#stats {
  .stats {
    margin-top: 60px;
    font-size: 16px;
    color: $gray;
    strong {
      font-size: 30px;
      color: #656565;
      font-weight: 500;
      position: relative;
      top: 1px;
      margin-right: 5px;
      display: block;
    }
    .col-sm-3 {
      padding-bottom: 25px;
      text-align: center;

      @media(max-width: 767px) {
        padding-bottom: 10px;
        margin-bottom: 20px;
      }
    }
  }
}
