<div id="features">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h2>Need an easy way to customize your site?</h2>
        <p>React is perfect for novice developers and experts alike.</p>
      </div>
    </div>
    <div class="row feature">
      <div class="col-md-6 info">
        <h4>You don't need to have great technical experience to use your product.</h4>
        <p>
          Whether you want to fill this paragraph with some text like I'm doing right now, this place
          is perfect to describe some features or anything you want - React has a complete solution for you.
        </p>
      </div>
      <div class="col-md-6 image">
        <img src="images/feature1.png" class="img-responsive" alt="feature1" />
      </div>
    </div>
    <div class="divider"></div>
    <div class="row feature backwards">
      <div class="col-md-6 info">
        <h4>A fully featured well design template that works.</h4>
        <p>
          You have complete control over the look & feel of your website, we offer the best quality so you
          take your site up and running in no time.
        </p>
        <p>
          Write some text here to explain the features of your site or application, it
          has lots of uses.
        </p>
      </div>
      <div class="col-md-6 image">
        <img src="images/feature2.png" class="img-responsive" alt="feature2" />
      </div>
    </div>
  </div>
</div>