<div id="features">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h2>Accelerate Ideas into Production.</h2>
        <p>Tandem is a digital services firm creating better web applications through Continuous Delivery. We find the fastest way to bring value to your organization, while establishing sustainable development practices that eliminate technical debt and create value continuously.</p>
      </div>
    </div>
    <div class="row feature">
      <div class="col-md-6 info">
        <h4>Scale and Save w/Docker</h4>
        <p>
          Docker allows you to develop, deploy, and scale your applications while cutting down your hosting bill. Tandem works with you to find the best long-term Docker strategy for your business.
        </p>
        <h4>Automate Testing of Critical Features</h4>
        <p>
          Has the layout of your front-page ever broken on IE? Do you know all your API endpoints and other attack surfaces are secure? Tandem uses automated testing tools like Wraith, Behat, BATS, and more to ensure your critical site features are always functional, beautiful, and secure.
        </p>
        <h4>Efficient Node and PHP Applications</h4>
        <p>
          When you build a new web application, don't bet the farm! Tandem specializes in building modern Node and PHP applications in an iterative fashion, using microservice architecture to make incremental improvements that bring immediate business value.
        </p>
      </div>
      <div class="col-md-6 image">
        <img src="images/appandidea.png" class="img-responsive" alt="feature1" />
      </div>
    </div>
    <div class="divider"></div>
    <div class="row header">
      <div class="col-md-12">
        <h2>So you make web applications?</h2>
        <p>Yes, but we can also work with your existing development team to bring the value of continuous delivery to your project. Unlike other firms, we enjoy supporting existing applications and finding strategies to modernize legacy infrastructure. Here's what our customers have to say...</p>
      </div>
    </div>
  </div>
</div>