#mc_embed_signup_scroll {
  label, input {
    margin: auto;
    text-align: center;
    display: block;
  }

  input.email {
    padding: 10px;
    width: 400px;
    margin: 1em auto;
    text-align: left;
  }

  input.btn {
    margin: 0em auto 1em auto;
    width: 400px;
  }
}